<% if (@parent and @parent.kind_of?(Sample)) %>
  <h1>New Aliquot of Sample <%= @parent %></h1>
<% else %>
  <h1>New Sample</h1>
<% end %>

<%= render_form_errors(@sample) %>
<%= knoxy_form_for( [@parent, setup_sample(@sample)], :html => { :multipart => true } ) do |form| %>
  <%= render :partial => 'form', :locals => { :f => form } %>
<% end %>
