<% if (@parent and @parent.kind_of?(Sample)) %>
<h1>New Aliquot of Sample <%= @parent.id %></h1>
<% else %>
<h1>New Sample</h1>
<% end %>

<% form_for([@parent, @sample]) do |form| %>
<%= render :partial => form -%>
<p>
  <%= form.submit "Create" %>
</p>
<% end %>
