<h1>New <%= humanized_type @type %> group</h1>

<%= knoxy_form_for( @grouping, :as => :grouping, :url => { :action => "create", :type => @type } ) do |form| %>
  <%= render :partial => 'form', :locals => { :f => form } %>

  <div class="field-no-label actions">
    <%= form.submit "Create" %>
  </div>
<% end %>
