<h1>New <%= humanized_type @type %> group</h1>

<%= labelled_tabular_form_for :grouping, @grouping, :url => { :action => "create", :type => @type } do |form| %>
  <%= render :partial => 'form', :locals => { :form => form } %>

  <p><%= form.submit "Create" %></p>
<% end %>