<h1>Editing <%= @type %> cohort</h1>

<% labelled_tabular_form_for(:cohort, @cohort, :url => { :action => "update", :type => @type }, :html => { :method => :put }) do |form| %>
  <%= render :partial => form %>

  <p><%= form.submit "Update" %></p>
<% end %>

<%= show_link({:id => @cohort, :type => @type}) %>