<h1>New <%= humanized_type @type %> cohort</h1>

<%= labelled_tabular_form_for :cohort, @cohort, :url => { :action => "create", :type => @type } do |form| %>
  <%= render :partial => form %>

  <p><%= form.submit "Create" %></p>
<% end %>