<h1>Listing user_pictures</h1>

<table>
  <tr>
  </tr>

<% for user_picture in @user_pictures %>
  <tr>
    <td><%= link_to 'Show', user_picture %></td>
    <td><%= link_to 'Edit', edit_user_picture_path(user_picture) %></td>
    <td><%= link_to 'Destroy', user_picture, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user_picture', new_user_picture_path %>
