<h1>New Picture for User</h1>

<% labelled_tabular_form_for([@user, @user_picture], :html => { :multipart => true }) do |form| %>

  <%= render :partial => form %>

  <p>
    <%= form.submit "Upload" %>
  </p>
<% end %>