<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><script src="/assets/einstein_portal_files/siteanalyze_63377.js" async="" type="text/javascript"></script><script id="undefined" src="/assets/einstein_portal_files/inpage_linkid.js" async="" type="text/javascript"></script><script src="/assets/einstein_portal_files/ga.js" async="" type="text/javascript"></script><script id="EktronJS" type="text/javascript" src="/assets/einstein_portal_files/ektron.js"></script><script id="EktronSiteDataJS" type="text/javascript" src="einstein_portal_files/ektron.ashx"></script><script id="EktronRegisteredJs" type="text/javascript" src="einstein_portal_files/ektronJs.ashx"></script><link id="EktronRegisteredCss" rel="stylesheet" type="text/css" href="/assets/einstein_portal_files/ektronCss.css"><title>
	Services | Stable Isotope &amp; Metabolomics Core | Albert Einstein College of Medicine
</title><link href="/assets/einstein_portal_files/style-einstein.css" rel="stylesheet" type="text/css" media="screen"><link href="/assets/einstein_portal_files/style-einstein-format.css" rel="stylesheet" type="text/css" media="screen"><link href="/assets/einstein_portal_files/style-einstein-print.css" rel="stylesheet" type="text/css" media="print"><link href="/assets/einstein_portal_files/blue-gray-tables.css" rel="stylesheet" type="text/css" media="screen">
<script type="text/javascript" src="/assets/einstein_portal_files/jquery.js"></script>
<script type="text/javascript" src="/assets/einstein_portal_files/jquery-ui.js"></script>
<script type="text/javascript" src="/assets/einstein_portal_files/scripts-clean.js"></script>
<style>@media print, screen and (view-mode:minimized){#ghostery-purple-bubble{display:none}}</style></head>

<body>
<form name="ctl01" method="post" action="/research/shared-facilities/stable-isotope-metabolomics-core/services/" id="ctl01">
<div>
<input name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTE0MzM0NTM4MWQYAQUeX19Db250cm9sc1JlcXVpcmVQb3N0QmFja0tleV9fFgEFD2Ntc1NlYXJjaEJ1dHRvbtQhOVzU2tg/bhRH3qJcJxE4L3kr" type="hidden">
</div>

<div>

	<input name="__EVENTTARGET" id="__EVENTTARGET" value="" type="hidden">
	<input name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" type="hidden">
	<input name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWAwLLj4KFCALRgLLQBwLht5ffBQ/N0qn/Xbh6OTx6sT9TikrALPXE" type="hidden">
</div>
<!--START OUTER HOLDER WITH RIGHT DROP SHADOW BG -->
<!--[if lt IE 8]>
<style type="text/css">
#fullWidthStripe #rightStripe { width: 49.9%; }
</style>
<![endif]-->
<div id="fullWidthStripe">
	<div id="leftStripe">&nbsp;</div>
    <div id="rightStripe">&nbsp;</div>
    <div class="clearer"></div>
</div>
<div id="outercontainer">
  <!--START MAIN HOLDER -->
  <div id="container">
    <!--START HEADER -->
    <div id="headerContainerNoSearch">
    <div id="headerMain">
        <div id="logo"><a href="http://www.einstein.yu.edu/"><img src="/assets/einstein_portal_files/einstein-logo.png" alt="Albert Einstein College of Medicine" border="0" height="78" width="230"></a></div>
        <div id="tagline"><img src="/assets/einstein_portal_files/tagline.png" alt="Science at the heart of medicine" height="14" width="238"></div>
		<div id="navSecondLevel"><a href="http://www.einstein.yu.edu/education/">Education</a> <span>|</span> <a href="http://www.einstein.yu.edu/research/">Research</a> <span>|</span> <a href="http://www.einstein.yu.edu/health/">Health</a></div>
        <div id="supportEinstein"><a href="https://secure3.convio.net/yu/site/Donation2?df_id=1401&amp;1401.donation=form1&amp;JServSessionIdr004=e2syv90ey2.app341b" target="_blank"><img src="/assets/einstein_portal_files/support-einstein-transparent.png" alt="Support Einstein" height="33" width="74"></a></div>
        <div class="clearer"></div>
    </div>
    <div id="informationForContainer">
    <div id="infoSearch">
        <div id="PanelCMSSearch" onkeypress="javascript:return WebForm_FireDefaultButton(event, 'cmsSearchButton')" style="width:100%;">
	
            <input name="cmsSearchBox" id="cmsSearchBox" type="text">
            <input name="cmsSearchButton" id="cmsSearchButton" src="/assets/einstein_portal_files/search-magnifier.png" style="border-width:0px;" type="image">
        
</div>
    </div>
</div> 
</div>
    <!--END HEADER-->
    <!-- BEGIN MARQUEE IMAGES -->
    <div id="marquee">
      <div id="sideNav">
        <!--MAIN NAVIGATION -->
        <div id="Menu1" class="usersClass">
	<link type="text/css" rel="stylesheet" href="/assets/einstein_portal_files/cmsflexnavmaster.css"><div class="cmsflexnavmaster"><div class="ekflexmenu" id="e349952e0_5551_0_ekflexmenu"><div class="ekflexmenu_menu_level_0 ekflexmenu_submenu"><ul class="ekflexmenu_submenu_items" id="e349952e0_5551_0_submenu_items"><li class="ekflexmenu_menu_level_1 ekflexmenu_startlevel ekflexmenu_submenu" id="e349952e0_5551_5552"><a id="e349952e0_5551_5552_button" tabindex="0" onkeydown="return (ekFlexMenuKey(event));" onblur="return (ekFlexMenuMsOut(event));" onfocus="return (ekFlexMenuMsOvr(event));" onclick="return (ekFlexMenuClk(event));" onmouseover="return (ekFlexMenuMsOvr(event));" onmouseout="return (ekFlexMenuMsOut(event));" class="ekflexmenu_button" href="http://www.einstein.yu.edu/research/shared-facilities/stable-isotope-metabolomics-core/">Overview</a><input id="e349952e0_5551_5552_parentid" value="e349952e0_5551_5551" type="hidden"></li><li class="ekflexmenu_menu_level_1 ekflexmenu_startlevel ekflexmenu_submenu" id="e349952e0_5551_5553"><a id="e349952e0_5551_5553_button" tabindex="0" onkeydown="return (ekFlexMenuKey(event));" onblur="return (ekFlexMenuMsOut(event));" onfocus="return (ekFlexMenuMsOvr(event));" onclick="return (ekFlexMenuClk(event));" onmouseover="return (ekFlexMenuMsOvr(event));" onmouseout="return (ekFlexMenuMsOut(event));" class="ekflexmenu_button" href="http://www.einstein.yu.edu/research/shared-facilities/stable-isotope-metabolomics-core/about-us/">About Us</a><input id="e349952e0_5551_5553_parentid" value="e349952e0_5551_5551" type="hidden"></li><li class="ekflexmenu_menu_level_1 ekflexmenu_startlevel ekflexmenu_submenu" id="e349952e0_5551_5555"><a id="e349952e0_5551_5555_button" tabindex="0" onkeydown="return (ekFlexMenuKey(event));" onblur="return (ekFlexMenuMsOut(event));" onfocus="return (ekFlexMenuMsOvr(event));" onclick="return (ekFlexMenuClk(event));" onmouseover="return (ekFlexMenuMsOvr(event));" onmouseout="return (ekFlexMenuMsOut(event));" class="ekflexmenu_button_selected" href="http://www.einstein.yu.edu/research/shared-facilities/stable-isotope-metabolomics-core/services/">Services</a><input id="e349952e0_5551_5555_parentid" value="e349952e0_5551_5551" type="hidden"></li><li class="ekflexmenu_menu_level_1 ekflexmenu_startlevel ekflexmenu_submenu" id="e349952e0_5551_5554"><a id="e349952e0_5551_5554_button" tabindex="0" onkeydown="return (ekFlexMenuKey(event));" onblur="return (ekFlexMenuMsOut(event));" onfocus="return (ekFlexMenuMsOvr(event));" onclick="return (ekFlexMenuClk(event));" onmouseover="return (ekFlexMenuMsOvr(event));" onmouseout="return (ekFlexMenuMsOut(event));" class="ekflexmenu_button" href="http://www.einstein.yu.edu/research/shared-facilities/stable-isotope-metabolomics-core/contact-us/">Contact Us</a><input id="e349952e0_5551_5554_parentid" value="e349952e0_5551_5551" type="hidden"></li><li class="ekflexmenu_menu_level_1 ekflexmenu_startlevel ekflexmenu_submenu" id="e349952e0_5551_5554"><a id="e349952e0_5551_5554_button" tabindex="0" onkeydown="return (ekFlexMenuKey(event));" onblur="return (ekFlexMenuMsOut(event));" onfocus="return (ekFlexMenuMsOvr(event));" onclick="return (ekFlexMenuClk(event));" onmouseover="return (ekFlexMenuMsOvr(event));" onmouseout="return (ekFlexMenuMsOut(event));" class="ekflexmenu_button" href="<%= new_client_session_path%>">Client Login</a><input id="e349952e0_5551_5554_parentid" value="e349952e0_5551_5551" type="hidden"></li></ul></div></div></div><script language="JavaScript" type="text/javascript">
			// Pass server control properties, etc., to Javascript:
			if (("undefined" == typeof window.ekFlexMenu_ekflexmenuArray)
				|| (null == window.ekFlexMenu_ekflexmenuArray)) {
				window.ekFlexMenu_ekflexmenuArray = new Array;
			}
			window.ekFlexMenu_ekflexmenuArray[window.ekFlexMenu_ekflexmenuArray.length] = "e349952e0_5551_0";
			//
			if (("undefined" == typeof window.ekFlexMenu_swRev)
			|| (null == window.ekFlexMenu_swRev)) {
			window.ekFlexMenu_swRev = new Array;
			}
			window.ekFlexMenu_swRev["e349952e0"] = "8.0.0.073";
			//
			if (("undefined" == typeof window.ekFlexMenu_startupSubmenuBranchId)
			|| (null == window.ekFlexMenu_startupSubmenuBranchId)) {
			window.ekFlexMenu_startupSubmenuBranchId = new Array;
			}
			window.ekFlexMenu_startupSubmenuBranchId["e349952e0"] = "";
			//
			if (("undefined" == typeof window.ekFlexMenu_autoCollapseBranches)
			|| (null == window.ekFlexMenu_autoCollapseBranches)) {
			window.ekFlexMenu_autoCollapseBranches = new Array;
			}
			window.ekFlexMenu_autoCollapseBranches["e349952e0"] = "true";
			//
			if (("undefined" == typeof window.ekFlexMenu_startCollapsed)
			|| (null == window.ekFlexMenu_startCollapsed)) {
			window.ekFlexMenu_startCollapsed = new Array;
			}
			window.ekFlexMenu_startCollapsed["e349952e0"] = "true";
			//
			if (("undefined" == typeof window.ekFlexMenu_startWithRootFolderCollapsed)
				|| (null == window.ekFlexMenu_startWithRootFolderCollapsed)) {
				window.ekFlexMenu_startWithRootFolderCollapsed = new Array;
			}
			window.ekFlexMenu_startWithRootFolderCollapsed["e349952e0"] = "false";
			//
			if (("undefined" == typeof window.ekFlexMenu_masterControlIdHash)
				|| (null == window.ekFlexMenu_masterControlIdHash)) {
				window.ekFlexMenu_masterControlIdHash = new Array;
			}
			window.ekFlexMenu_masterControlIdHash["e349952e0"] = "";
			
			//
			if (("undefined" == typeof window.ekFlexMenu_ajaxEnabled)
			|| (null == window.ekFlexMenu_ajaxEnabled)) {
			window.ekFlexMenu_ajaxEnabled = new Array;
			}
			window.ekFlexMenu_ajaxEnabled["e349952e0"] = "false";
			//
			if (("undefined" == typeof window.ekFlexMenu_ajaxWSPath)
			|| (null == window.ekFlexMenu_ajaxWSPath)) {
			window.ekFlexMenu_ajaxWSPath = new Array;
			}
			window.ekFlexMenu_ajaxWSPath["e349952e0"] = "/WorkArea/webservices/";
			// 
			if (("undefined" == typeof window.ekFlexMenu_displayXslt)
			|| (null == window.ekFlexMenu_displayXslt)) {
			window.ekFlexMenu_displayXslt = new Array;
			}
			window.ekFlexMenu_displayXslt["e349952e0"] = "/css/nav/cmsflexnavmaster.xsl";
			//
			if (("undefined" == typeof window.ekFlexMenu_cacheInterval)
			|| (null == window.ekFlexMenu_cacheInterval)) {
			window.ekFlexMenu_cacheInterval = new Array;
			}
			window.ekFlexMenu_cacheInterval["e349952e0"] = "500";
			//
			//////////////////////////////////////////////////////////////////
			// Add event handler calling functions:
			//   Test to ensure that ekFlexMenu is valid/reachable (this is needed 
			//   to prevent intermittent Javascript errors that can occur if user
			//   causes event to fire while page is being torn down (i.e. a link is
			//   clicked, browser is fetching new page, movement causes mouse-out...):
			function ekFlexMenu_IsValid(obj) {
				return (("undefined" != typeof obj) && (null != obj));
			}
			function ekFlexMenuPopupMsIn(event) {
				if (ekFlexMenu_IsValid(ekFlexMenu) && ekFlexMenu_IsValid(ekFlexMenu.mouseIn)) {
					return (ekFlexMenu.mouseIn(event));
				}
				return (true);
			}
			function ekFlexMenuPopupMsOut(event) {
				if (ekFlexMenu_IsValid(ekFlexMenu) && ekFlexMenu_IsValid(ekFlexMenu.mouseOut)) {
					return (ekFlexMenu.mouseOut(event));
				}
				return (true);
			}
			function ekFlexMenuKey(event) {
				if (ekFlexMenu_IsValid(ekFlexMenu) && ekFlexMenu_IsValid(ekFlexMenu.menuBtnKeyHdlr)) {
					return (ekFlexMenu.menuBtnKeyHdlr(event));
				}
				return (true);
			}
			function ekFlexMenuMsOut(event) {
				if (ekFlexMenu_IsValid(ekFlexMenu) && ekFlexMenu_IsValid(ekFlexMenu.menuBtnMouseOutHdlr)) {
					return (ekFlexMenu.menuBtnMouseOutHdlr(event));
				}
				return (true);
			}
			function ekFlexMenuMsOvr(event) {
				if (ekFlexMenu_IsValid(ekFlexMenu) && ekFlexMenu_IsValid(ekFlexMenu.menuBtnMouseOverHdlr)) {
					return (ekFlexMenu.menuBtnMouseOverHdlr(event));
				}
				return (true);
			}
			function ekFlexMenuClk(event) {
				if (ekFlexMenu_IsValid(ekFlexMenu) && ekFlexMenu_IsValid(ekFlexMenu.menuBtnClickHdlr)) {
					return (ekFlexMenu.menuBtnClickHdlr(event));
				}
				return (true);
			}
		</script>
</div>
          
      </div>
      <div class="floatLeft marqueeMiddle">
        <div class="featured-photo clipped-photo" id="subNavOverlay">
<div class="featured-wrap">
<img src="/assets/einstein_portal_files/researcher-molecule.jpg" alt="researcher" height="188" width="418">
<div class="transparencyNone"></div>
<div class="featured-message">

        <!--SUB NAVIGATION -->
        <div id="Menu2" class="usersClass">
	<link type="text/css" rel="stylesheet" href="/assets/einstein_portal_files/cmsflexnavslave.css"><div class="cmsflexnavslave"><div class="ekflexmenu" id="e349952dd_5551_0_ekflexmenu"><div class="ekflexmenu_menu_level_0 ekflexmenu_submenu"><ul class="ekflexmenu_submenu_items" id="e349952dd_5551_0_submenu_items"><li class="ekflexmenu_menu_level_0 ekflexmenu_submenu" id="e349952dd_5551_5551"><input id="e349952dd_5551_5551_parentid" value="e349952dd_5551_0" type="hidden"><ul id="e349952dd_5551_5551_submenu_items" class="ekflexmenu_submenu_items ekflexmenu_slavecontainer"><li class="ekflexmenu_menu_level_1 ekflexmenu_submenu" id="e349952dd_5551_5552"><input id="e349952dd_5551_5552_parentid" value="e349952e0_5551_5551" type="hidden"></li><li class="ekflexmenu_menu_level_1 ekflexmenu_submenu" id="e349952dd_5551_5553"><input id="e349952dd_5551_5553_parentid" value="e349952e0_5551_5551" type="hidden"></li><li class="ekflexmenu_menu_level_1 ekflexmenu_submenu" id="e349952dd_5551_5555"><input id="e349952dd_5551_5555_parentid" value="e349952e0_5551_5551" type="hidden"></li><li class="ekflexmenu_menu_level_1 ekflexmenu_submenu" id="e349952dd_5551_5554"><input id="e349952dd_5551_5554_parentid" value="e349952e0_5551_5551" type="hidden"></li></ul></li></ul></div></div></div>
</div>
          </div>
<!-- .featured-messge -->
</div>
<!-- end .featured-wrap -->
</div>
<!-- end .featured-photo -->

      </div>
      <div class="floatRight">
        <div class="featured-photo clipped-photo">
<div class="featured-wrap">
<img src="/assets/einstein_portal_files/stem-cell.jpg">
</div>
</div>
<script>
// initialize tooltip
$("#marqueeBox1 table[title]").tooltip({
// tweak the position
offset: [50, 0],
// opacity
opacity: 1.0,
// use the "slide" effect
effect: 'slide',
bounce: true
// add dynamic plugin with optional configuration for bottom edge
})
</script>

      </div>
      <div class="clearer"></div>
    </div>
    <!-- END MARQUEE IMAGES -->
    <div class="clearer"></div>
    <!--BEGIN BREADCRUMBS -->
    <div id="breadCrumbs">
    	<span id="FolderBreadcrumb1"><a target="_self" href="http://www.einstein.yu.edu/" title="Site Root">Home</a> &gt; <a target="_self" href="http://www.einstein.yu.edu/research/" title="">Research</a> &gt; <a target="_self" href="http://www.einstein.yu.edu/research/shared-facilities/" title="">Shared Facilities</a> &gt; <a target="_self" href="http://www.einstein.yu.edu/research/shared-facilities/stable-isotope-metabolics-core/" title="">Stable Isotope &amp; Metabolics Core</a></span> &gt; <span class="activePage">Services</span>
    </div>
    <!--END BREADCRUMBS -->
    <div class="clearer"></div>
    <!--BEGIN CONTENT -->
    <div id="contentContainer">
    	<h2 id="siteName">Stable Isotope &amp; Metabolomics Core</h2>
    	<h1 id="pageTitle">Services</h1>
      <!--BEGIN WRAPPER CONTENT-->
      <!--LEFT COLUMN -->
      <div id="contentLeftColumn">
        <div id="contentblock1">
	<span style="line-height: 0px;"><br></span><div><h3></h3>
<h3></h3>
<h3><span style="font-weight: normal;"><span></span></span></h3>
<h3></h3>
<h3><span style="font-weight: normal;"><span></span></span></h3>
<h3></h3>
<h3><span style="font-weight: normal;"><span>Before bringing samples , please fill out the order form
,sample manifesto and E-mail to Hardik Shah, so we can give you an estimate for
the services needed. You will have to provide a grant number to be charged for
these services, you will not be charged until you receive your data. The order
form, sample manifest form, and sample manifest guidelines can be downloaded
using the window highlighted to the right of this introduction. Please bring
the sample manifest along with the samples. You must review the markings on all
tubes/samples so when a bar code is generated for your samples, there will be
no confusion.</span>&nbsp;<br><span>&nbsp;</span>&nbsp;<br><span>For the modules listed below, information is organized for
your review of the pertinent metabolic pathways. For example in module 1 there
are “hyperlinks” in the Pubchem ID and subpathway columns. If you click the
hotlink in pubchem, it will take you to pages of information about the
metabolite, including structures. If you click on the subpathway hyperlink, you
will get taken to the small molecule pathway diagram database, and you can
visualize where your metabolite is relative to others in the pathway. Clicking
on a metabolite in the figure will take you to the human metabolome database
for more specific information about that metabolite.</span>&nbsp;</span></h3>
<h3>Module # 1 180 Metabolites&nbsp;</h3>
<h3></h3>
<h5></h5>
<h4></h4>
<h3><span><span style="font-weight: normal;">The targeted metabolomics 
approach in this assay is&nbsp;based on measurements with the 
AbsoluteIDQ p180 kit (BIOCRATES&nbsp;Life Sciences AG, Innsbruck, 
Austria). This method allows simultaneous&nbsp;quantification of 188 
metabolites using liquid chromatography&nbsp;and flow injection 
analysis–mass spectrometry. For an example of this Module’s utility, see
 Wang-Sattler et al Novel biomarkers for pre-diabetes identified 
by&nbsp;metabolomics, Molecular Systems Biology 8; 615; 
doi:10.1038/msb.2012.43</span>.&nbsp;</span>&nbsp;</h3>
<h3></h3>
<h3></h3>
<h3>&nbsp;</h3>
<table class="tblStyle1" width="100%">
<tbody>
<tr>
<th width="25%">Biochemical Name</th>
<th width="15%">Pubchem ID</th>
<th width="20%">Super Pathway</th>
<th width="60%">Sub Pathway</th>
</tr>
<tr>
<td width="25%">Alanine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=5950&amp;loc=ec_rcs" title="5950">5950</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00055/pathway" title="Alanine metabolism">Alanine metabolism</a>,<a href="http://pathman.smpdb.ca/pathways/SMP00067/pathway" title="Aspartate metabolism">Aspartate metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Arginine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?sid=3362" title="3362">3362</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00059/pathway" title="Urea cycle">Urea cycle</a>, <a href="http://pathman.smpdb.ca/pathways/SMP00020/pathway" title="Arginine and Proline metabolism">Arginine and Proline metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Asparagine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=6267" title="6267">6267</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00067/pathway" title="Aspartate metabolism">Aspartate metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Aspartic acid</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=5960" title="5960">5960</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00067/pathway" title="Aspartate metabolism">Aspartate metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Citrulline</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=9750" title="9750">9750</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00059/pathway" title="Urea cycle">Urea cycle</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Glutamine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=5961" title="5961">5961</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00072/pathway" title="Glutamate metabolism">Glutamate metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Glutamic Acid</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=33032" title="33032">33032</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00072/pathway" title="Glutamate metabolism">Glutamate metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Glycine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=750" title="750&amp;#160;">750</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00004/pathway" title="Glycine and serine metabolism">Glycine and serine metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Histidine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=6274" title="6274">6274</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00044/pathway" title="Histidine metabolism">Histidine metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Isoleucine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=6306" title="6306">6306</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00032/pathway" title="Valine, Leucine and Isoleucine Degradation">Valine, Leucine and Isoleucine Degradation</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Leucine</td>
<td width="15%">&nbsp;<a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=6106" title="6106">6106</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00032/pathway" title="Valine, Leucine and Isoleucine Degradation">Valine, Leucine and Isoleucine Degradation</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Lysine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=5962" title="5962">5962</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00037/pathway" title="Lysine Degradation">Lysine Degradation</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Methionine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=6137" title="6137">6137</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00033/pathway" title="Methionine metabolism">Methionine metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Ornithine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=6262" title="6262&amp;#160;">6262</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00059/pathway" title="Urea cycle">Urea cycle</a>,&nbsp;<a href="http://pathman.smpdb.ca/pathways/SMP00020/pathway" title="Arginine and Proline metabolism">Arginine and Proline metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Phenylalanine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=6140" title="6140">6140</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00008/pathway" title="Phenylalanine and Tyrosine metabolism">Phenylalanine and Tyrosine metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Proline</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=145742" title="145742">145742</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00059/pathway" title="Urea cycle">Urea cycle</a>,&nbsp;<a href="http://pathman.smpdb.ca/pathways/SMP00020/pathway" title="Arginine and Proline metabolism">Arginine and Proline metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Serine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=5951" title="5951">5951</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00004/pathway" title="Glycine and serine metabolism">Glycine and serine metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Threonine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=6288" title="6288">6288</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00452/pathway" title="Threonine and 2-oxobutanoate degradation">Threonine and 2-oxobutanoate degradation</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Tryptophan</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=6305" title="6305">6305</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00063/pathway" title="Tryptophan metabolism">Tryptophan metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Tyrosine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=6057" title="6057">6057</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00008/pathway" title="Phenylalanine and Tyrosine metabolism">Phenylalanine and Tyrosine metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Valine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=6287" title="6287">6287</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00032/pathway" title="Valine,Leucine and Isoleucine metabolism">Valine,Leucine and Isoleucine metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Acetylornithine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=439232" title="439232">439232</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00059/pathway" title="Urea cycle">Urea cycle</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Asymmetric dimetylarginine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=123831" title="123831">123831</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00020/pathway" title="Arginine and Proline metabolism">Arginine and Proline metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">alpha-Aminoadipic acid</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=469" title="469">469</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00037/pathway" title="Lysine Degradation">Lysine Degradation</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Carnosine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=439224" title="439224">439224</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%">&nbsp;<a href="http://pathman.smpdb.ca/pathways/SMP00007/pathway" title="beta-Alanine metabolism">beta-Alanine metabolism</a>, <a href="http://pathman.smpdb.ca/pathways/SMP00044/pathway" title="Histidine metabolism">Histidine metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Creatinine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=588" title="588">588</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00188/pathway" title="Guanidinoacetate Methyltransferase Definciency">Guanidinoacetate Methyltransferase Definciency</a>,<a href="http://pathman.smpdb.ca/pathways/SMP00020/pathway" title="Arginine and Proline metabolism">Arginine and Proline metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">dihydroxyphenylalanine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=6047" title="6047">6047</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00008/pathway" title="Phenylalanine and Tyrosine metabolism">Phenylalanine and Tyrosine metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Dopamine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=681" title="681">681</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00012/pathway" title="Catecholamine biosynthesis">Catecholamine biosynthesis</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">histamine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=774" title="774">774</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00044/pathway" title="Histidine metabolism">Histidine metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Kynurenine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=161166" title="161166">161166</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00063/pathway" title="Tryptophan Degradation">Tryptophan Degradation</a>,<a href="http://pathman.smpdb.ca/pathways/SMP00037/pathway" title="Lysine Degradation">Lysine Degradation</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Methioninesulfoxide</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=847" title="847">847</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00033/pathway" title="Methionine metabolism">Methionine metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Nitrotyrosine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=65124" title="65124">65124</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00008/pathway" title="Phenylalanine and Tyrosine metabolism">Phenylalanine and Tyrosine metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Hydroxyproline</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=5810" title="5810">5810</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00020/pathway" title="Arginine and Proline metabolism">Arginine and Proline metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Phenylethylamine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=1001" title="1001">1001</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00006/pathway" title="Tyrosine metabolism">Tyrosine metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Putrescine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=1045" title="1045">1045</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00445/pathway" title="Spermidine and Spermine biosynthesis">Spermidine and Spermine biosynthesis</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Sacrcosine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=1088" title="1088">1088</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00004/pathway" title="Glycine and Serine metabolism">Glycine and Serine metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Symmetric dimethylarginine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=169148" title="169148">169148</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00059/pathway" title="Urea cycle">Urea cycle</a>,&nbsp;<a href="http://pathman.smpdb.ca/pathways/SMP00020/pathway" title="Arginine and Proline metabolism">Arginine and Proline metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Serotonin</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=5202" title="5202">5202</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00063/pathway" title="Tryptophan metabolism">Tryptophan metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Spermidine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=1102" title="1102">1102</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00445/pathway" title="Spermidine and Spermine biosynthesis">Spermidine and Spermine biosynthesis</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Spermine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=1103" title="1103">1103</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00445/pathway" title="Spermidine and Spermine biosynthesis">Spermidine and Spermine biosynthesis</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Taurine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=1123" title="1123">1123</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00021/pathway" title="Taurine and Hypotaurine metabolism">Taurine and Hypotaurine metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%">Total dimethylarginine</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=123831" title="123831">123831</a>&nbsp;</td>
<td width="20%">Amino acids</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00020/pathway" title="Arginine and Proline metabolism">Arginine and Proline metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%"><strong>Acylcarnitines</strong><br><strong>C0 to C18: 2</strong>&nbsp;</td>
<td width="15%">40 species </td>
<td width="20%">Lipid </td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00051/pathway" title="Fatty acid metabolism">Fatty acid metabolism</a>&nbsp;</td>
</tr>
<tr>
<td width="25%"><strong>Glycerophospholipids</strong><br><strong>C14:0 to C44: 6</strong>&nbsp;</td>
<td width="15%">90 species </td>
<td width="20%">Lipid metabolism</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00025/pathway" title="Phospholipid biosynthesis">Phospholipid biosynthesis</a>&nbsp;</td>
</tr>
<tr>
<td width="25%"><strong>Sphingolipids</strong><br><strong>SM C14:1 to SM C26:1</strong>&nbsp;</td>
<td width="15%">15 species </td>
<td width="20%">Lipid metabolism</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00034/pathway" title="Sphingolipid biosynthesis">Sphingolipid biosynthesis</a>&nbsp;</td>
</tr>
<tr>
<td width="25%"><strong>Hexose</strong>&nbsp;</td>
<td width="15%"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=5793" title="5793">5793</a>&nbsp;</td>
<td width="20%">Carbohydrate</td>
<td width="60%"><a href="http://pathman.smpdb.ca/pathways/SMP00040/pathway" title="Glycolysis pathway&nbsp;">Glycolysis pathway</a>,&nbsp;<a href="http://pathman.smpdb.ca/pathways/SMP00031/pathway" title="Pentose Phosphate&nbsp;pathway&nbsp;">Pentose Phosphate&nbsp;pathway&nbsp;</a>,&nbsp;<a href="http://pathman.smpdb.ca/pathways/SMP00128/pathway" title="Gluconeogenesis">Gluconeogenesis</a>&nbsp;</td>
</tr>
</tbody>
</table>
<div class="clearerSpace">&nbsp;</div>
<p align="left"><a href="#top">Back to top</a>&nbsp;</p>
<div class="dividerGray">&nbsp;</div>
<a name="metabolites150"></a><h3>Module # 2-150 Metabolites</h3>
<div><h3><span style="font-weight: normal;"><span><span>The targeted metabolomics
approach in this assay is</span>&nbsp;based on measurements with the
AbsoluteIDQ p150 kit (BIOCRATES&nbsp;Life Sciences AG, Innsbruck,
Austria). This method allows simultaneous&nbsp;quantification of 150
metabolites using flow injection analysis–mass spectrometry. This module can be
calibrated for use with urine metabolites, as well as plasma. For an example of
its use with plasma measurements, see Solberg et al Metabolomic
Analyses of Plasma Reveals New Insights into Asphyxia and Resuscitation in Pigs
PLoS
ONE 5(3): e9606. doi:10.1371/journal.pone.0009606</span>.</span></h3>













&nbsp;</div>
<table class="tblStyle1" width="100%">
<tbody>
<tr>
<th width="25%">Biochemical Name</th>
<th width="15%">Pubchem ID</th>
<th width="20%">Super Pathway</th>
<th width="60%">Sub Pathway</th>
</tr>
<tr>
<td>Arginine</td>
<td>3362</td>
<td>Aminoacids</td>
<td>Urea cycle, Arginine, Proline metabolism </td>
</tr>
<tr>
<td>Glutamine</td>
<td>5961 </td>
<td>Aminoacids </td>
<td>Glutamate metabolism</td>
</tr>
<tr>
<td>Glycine</td>
<td>750</td>
<td>Aminoacids </td>
<td>Glycine,Serine,Threonine metabolism</td>
</tr>
<tr>
<td>Histidine</td>
<td>6274</td>
<td>Aminoacids </td>
<td>Histidine metabolism</td>
</tr>
<tr>
<td>Isoleucine/leucine</td>
<td>6306</td>
<td>Aminoacids </td>
<td>Valine,Leucine, Isoleucine metabolism</td>
</tr>
<tr>
<td>Methionine</td>
<td>6137</td>
<td>Aminoacids </td>
<td>Cycteine,Methionine, SAM, Taurine metabolism</td>
</tr>
<tr>
<td>Ornithine</td>
<td>6262</td>
<td>Aminoacids </td>
<td>Urea cycle, Arginine, Proline metabolism</td>
</tr>
<tr>
<td>Phenylalanine</td>
<td>6140 </td>
<td>Aminoacids </td>
<td>Tyrosine metabolism </td>
</tr>
<tr>
<td>Proline</td>
<td>145742</td>
<td>Aminoacids </td>
<td>Urea cycle, Arginine, Proline metabolism</td>
</tr>
<tr>
<td>Serine</td>
<td>5951</td>
<td>Aminoacids </td>
<td>Glycine,Serine,Threonine metabolism</td>
</tr>
<tr>
<td>Threonine</td>
<td>6288</td>
<td>Aminoacids </td>
<td>Glycine,Serine, Threonine metabolism</td>
</tr>
<tr>
<td>Tryptophan</td>
<td>6305</td>
<td>Aminoacids </td>
<td>Tryptophan metabolism</td>
</tr>
<tr>
<td>Tyrosine</td>
<td>6057</td>
<td>Aminoacids </td>
<td>Phenylalanine &amp; Tyrosine metabolism</td>
</tr>
<tr>
<td>Valine</td>
<td>6287</td>
<td>Aminoacids </td>
<td>Valine,Leucine,Isoleucine metabolism</td>
</tr>
<tr>
<td>Acylcarnitines<br>C0 to C18:2</td>
<td>41species </td>
<td>Lipidmetabolism</td>
<td>Fattyacid metabolism </td>
</tr>
<tr>
<td>Glycerophospholipids<br>C6:0 to C44:6</td>
<td>92species </td>
<td>LipidMetabolism</td>
<td>Phospholipid biosynthesis</td>
</tr>
<tr>
<td>Sphingolipids<br>SM C14:1 to SM C26:1</td>
<td>15sepcies </td>
<td>LipidMetabolism</td>
<td>Sphingolipid biosynthesis </td>
</tr>
<tr>
<td>Hexose</td>
<td>5793 </td>
<td>Carbohydrate</td>
<td>Glycolysis pathway,&nbsp;Pentose Phosphate&nbsp;pathway&nbsp;,&nbsp;Gluconeogenesis</td>
</tr>
</tbody>
</table>
<div class="clearerSpace">&nbsp;</div>
<p align="left"><a href="#top">Back to top</a>&nbsp;</p>
<div class="dividerGray">&nbsp;</div>
<div><strong><h3>Module #3 Glycolysis, Pentose Phosphate and TCA Metabolites&nbsp;&nbsp;&nbsp;</h3>
</strong>&nbsp;</div>
<h3><div><h3><span style="font-weight: normal;"><span>For an example by 
the SIMC facility, see Lv
et al Advantages of Tandem LC-MS for the Rapid Assessment 
of&nbsp;Tissue-Specific Metabolic Complexity Using 
a&nbsp;Pentafluorophenylpropyl Stationary Phase J.
Proteome Res. 2011, 10, 2104–2112 |dx.doi.org/10.1021/pr1011119</span>&nbsp;&nbsp;</span></h3>










&nbsp;</div>
</h3>
<table class="tblStyle1" width="100%">
<tbody>
<tr>
<th width="25%">Biochemical Name</th>
<th width="15%">Pubchem ID</th>
<th width="20%">Super Pathway</th>
<th width="60%">Sub Pathway</th>
</tr>
<tr>
<td>Fructose-1,6-bisphosphate</td>
<td><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=445555" title="445555">445555</a>&nbsp;</td>
<td>Carbohydrates</td>
<td><a href="http://pathman.smpdb.ca/pathways/SMP00040/pathway" title="Glycolysis pathway&nbsp;">Glycolysis pathway&nbsp;</a>&nbsp;</td>
</tr>
<tr>
<td>6-phospho-D-gluconate</td>
<td><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=91493" title="91493">91493</a>&nbsp;</td>
<td>Carbohydrates</td>
<td><a href="http://pathman.smpdb.ca/pathways/SMP00031/pathway" title="Pentose Phosphate&nbsp;pathway&nbsp;">Pentose Phosphate&nbsp;pathway&nbsp;</a>&nbsp;</td>
</tr>
<tr>
<td>Glucosamine-6-phosphate</td>
<td><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=439217" title="439217">439217</a>&nbsp;</td>
<td>Carbohydrates</td>
<td><a href="http://pathman.smpdb.ca/pathways/SMP00045/pathway" title="Amino sugar metabolism&nbsp;">Amino sugar metabolism&nbsp;</a>&nbsp;</td>
</tr>
<tr>
<td>3-phosphoglycerate</td>
<td><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=724" title="724">724</a>&nbsp;</td>
<td>Carbohydrates</td>
<td><a href="http://pathman.smpdb.ca/pathways/SMP00040/pathway" title="Glycolysis">Glycolysis</a>, <a href="http://pathman.smpdb.ca/pathways/SMP00128/pathway" title="Gluconeogenesis">Gluconeogenesis</a>, <a href="http://pathman.smpdb.ca/pathways/SMP00060/pathway" title="pyruvate metabolism">pyruvate metabolism</a>&nbsp;</td>
</tr>
<tr>
<td>Glucose-6-phosphate</td>
<td><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=5958" title="5958">5958</a>&nbsp;</td>
<td>Carbohydrates</td>
<td><a href="http://pathman.smpdb.ca/pathways/SMP00040/pathway" title="Glycolysis">Glycolysis</a>,&nbsp;<a href="http://pathman.smpdb.ca/pathways/SMP00128/pathway" title="Gluconeogenesis">Gluconeogenesis</a>,&nbsp;<a href="http://pathman.smpdb.ca/pathways/SMP00060/pathway" title="pyruvate metabolism">pyruvate metabolism</a>&nbsp;</td>
</tr>
<tr>
<td>Ribose-5-phosphate</td>
<td><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=439167" title="439167">439167</a>&nbsp;</td>
<td>Carbohydrates</td>
<td><a href="http://pathman.smpdb.ca/pathways/SMP00031/pathway" title="Pentose Phosphate pathway">Pentose Phosphate pathway</a>&nbsp;</td>
</tr>
<tr>
<td>Uridine diphosphate glucose</td>
<td><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=53477679" title="53477679">53477679</a>&nbsp;</td>
<td>Carbohydrates</td>
<td><a href="http://pathman.smpdb.ca/pathways/SMP00010/pathway" title="Nucleotide sugars metabolism&nbsp;">Nucleotide sugars metabolism&nbsp;</a>&nbsp;</td>
</tr>
<tr>
<td>N-acetyl glucosamine</td>
<td><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=440996" title="440996">440996</a>&nbsp;</td>
<td>Carbohydrates</td>
<td><a href="http://pathman.smpdb.ca/pathways/SMP00045/pathway" title="Amino sugar metabolism&nbsp;">Amino sugar metabolism&nbsp;</a>&nbsp;</td>
</tr>
<tr>
<td>alpha-glycerol-3-phosphate</td>
<td><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=439162" title="439162">439162</a>&nbsp;</td>
<td>Carbohydrates</td>
<td><a href="http://pathman.smpdb.ca/pathways/SMP00040/pathway" title="Glycolysis pathway">Glycolysis pathway</a>&nbsp;</td>
</tr>
<tr>
<td>Phosphoenolpyruvate</td>
<td><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=1005" title="1005">1005</a>&nbsp;</td>
<td>Carbohydrates</td>
<td><a href="http://pathman.smpdb.ca/pathways/SMP00040/pathway" title="Glycolysis">Glycolysis</a>,&nbsp;<a href="http://pathman.smpdb.ca/pathways/SMP00128/pathway" title="Gluconeogenesis">Gluconeogenesis</a>,&nbsp;<a href="http://pathman.smpdb.ca/pathways/SMP00060/pathway" title="pyruvate metabolism">pyruvate metabolism</a>&nbsp;</td>
</tr>
<tr>
<td>alpha ketoglutaric acid</td>
<td><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=51" title="51">51</a>&nbsp;</td>
<td>Carbohydrates</td>
<td><a href="http://pathman.smpdb.ca/pathways/SMP00057/pathway" title="Krebs Cycle">Krebs Cycle</a>&nbsp;</td>
</tr>
<tr>
<td>Aspartic acid</td>
<td><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=5960" title="5960">5960</a>&nbsp;</td>
<td>Carbohydrates</td>
<td><a href="http://pathman.smpdb.ca/pathways/SMP00067/pathway" title="Aspartate Metabolism">Aspartate Metabolism</a>, <a href="http://pathman.smpdb.ca/pathways/SMP00059/pathway" title="Urea Cycle&nbsp;">Urea Cycle&nbsp;</a>&nbsp;</td>
</tr>
<tr>
<td>citric acid</td>
<td><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=311" title="311">311</a>&nbsp;</td>
<td>Carbohydrates</td>
<td><a href="http://pathman.smpdb.ca/pathways/SMP00057/pathway" title="Krebs Cycle" target="_blank">Krebs Cycle</a>&nbsp;</td>
</tr>
<tr>
<td>Succinic acid</td>
<td><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=1110" title="1110">1110</a>&nbsp;</td>
<td>Carbohydrates</td>
<td><a href="http://pathman.smpdb.ca/pathways/SMP00057/pathway" title="Krebs Cycle">Krebs Cycle</a>&nbsp;</td>
</tr>
<tr>
<td>fumaric acid</td>
<td><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=444972" title="444972">444972</a>&nbsp;</td>
<td>Carbohydrates</td>
<td><a href="http://pathman.smpdb.ca/pathways/SMP00057/pathway" title="Krebs Cycle">Krebs Cycle</a>&nbsp;</td>
</tr>
<tr>
<td>Pyruvic acid</td>
<td><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=1060" title="1060">1060</a>&nbsp;</td>
<td>Carbohydrates</td>
<td><a href="http://pathman.smpdb.ca/pathways/SMP00040/pathway" title="Glycolysis">Glycolysis</a>,&nbsp;<a href="http://pathman.smpdb.ca/pathways/SMP00128/pathway" title="Gluconeogenesis">Gluconeogenesis</a>,&nbsp;<a href="http://pathman.smpdb.ca/pathways/SMP00060/pathway" title="pyruvate metabolism">pyruvate metabolism</a>&nbsp;</td>
</tr>
<tr>
<td>Lactic acid</td>
<td><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=107689" title="107689">107689</a>&nbsp;</td>
<td>Carbohydrates</td>
<td><a href="http://pathman.smpdb.ca/pathways/SMP00040/pathway" title="Glycolysis">Glycolysis</a>,&nbsp;<a href="http://pathman.smpdb.ca/pathways/SMP00128/pathway" title="Gluconeogenesis">Gluconeogenesis</a>,&nbsp;<a href="http://pathman.smpdb.ca/pathways/SMP00060/pathway" title="pyruvate metabolism">pyruvate metabolism</a>&nbsp;</td>
</tr>
</tbody>
</table>
<div class="clearerSpace">&nbsp;</div>
<p align="left"><a href="#top">Back to top</a>&nbsp;</p>
<a name="redox"></a><h3>Module #4 Redox and Bioenergetics</h3>
<div><!--StartFragment--><h3><span style="font-weight: normal;"><span><span>For an example by the SIMC facility, see Lv
et al Advantages of Tandem LC-MS for the Rapid Assessment of Tissue-Specific
Metabolic Complexity Using a&nbsp;</span></span><span>Pentafluorophenylpropyl Stationary Phase J.
Proteome Res. 2011, 10, 2104–2112 |dx.doi.org/10.1021/pr1011119</span>&nbsp;&nbsp;</span></h3>
<!--EndFragment-->&nbsp;</div>
<table class="tblStyle1" width="100%">
<tbody>
<tr>
<th width="25%">Biochemical Name</th>
<th width="15%">Pubchem ID</th>
<th width="20%">Super Pathway</th>
<th width="60%">Sub Pathway</th>
</tr>
<tr>
<td>ATP</td>
<td><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=5957" title="5957">5957</a>&nbsp;</td>
<td>Carbohydrates</td>
<td><a href="http://pathman.smpdb.ca/pathways/SMP00040/pathway" title="Glycolysis pathway">Glycolysis pathway</a>, <a href="http://pathman.smpdb.ca/pathways/SMP00057/pathway" title="Krebs Cycle&nbsp;">Krebs Cycle&nbsp;</a>&nbsp;</td>
</tr>
<tr>
<td>ADP</td>
<td><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=6022" title="6022">6022</a>&nbsp;</td>
<td>Carbohydrates</td>
<td><a href="http://pathman.smpdb.ca/pathways/SMP00040/pathway" title="Glycolysis pathway">Glycolysis pathway</a>,&nbsp;<a href="http://pathman.smpdb.ca/pathways/SMP00057/pathway" title="Krebs Cycle&nbsp;">Krebs Cycle&nbsp;</a>&nbsp;</td>
</tr>
<tr>
<td>AMP</td>
<td><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=41211" title="41211">41211</a>&nbsp;</td>
<td>Carbohydrates</td>
<td><a href="http://pathman.smpdb.ca/pathways/SMP00040/pathway" title="Glycolysis pathway">Glycolysis pathway</a>,&nbsp;<a href="http://pathman.smpdb.ca/pathways/SMP00057/pathway" title="Krebs Cycle&nbsp;">Krebs Cycle&nbsp;</a>&nbsp;</td>
</tr>
<tr>
<td>NAD</td>
<td><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=5893" title="5893">5893</a>&nbsp;</td>
<td>Carbohydrates</td>
<td><a href="http://pathman.smpdb.ca/pathways/SMP00048/pathway" title="Nicotinate and Nicotinamide metabolism">Nicotinate and Nicotinamide metabolism</a>&nbsp;</td>
</tr>
<tr>
<td>NADH</td>
<td><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=928" title="928">928</a>&nbsp;</td>
<td>Carbohydrates</td>
<td><a href="http://pathman.smpdb.ca/pathways/SMP00048/pathway" title="Nicotinate and Nicotinamide metabolism">Nicotinate and Nicotinamide metabolism</a>&nbsp;</td>
</tr>
<tr>
<td>NADP</td>
<td><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=5886" title="5886">5886</a>&nbsp;</td>
<td>Carbohydrates</td>
<td><a href="http://pathman.smpdb.ca/pathways/SMP00048/pathway" title="Nicotinate and Nicotinamide metabolism">Nicotinate and Nicotinamide metabolism</a>&nbsp;</td>
</tr>
<tr>
<td>NADPH</td>
<td><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=22833512" title="22833512">22833512</a>&nbsp;</td>
<td>Carbohydrates</td>
<td><a href="http://pathman.smpdb.ca/pathways/SMP00048/pathway" title="Nicotinate and Nicotinamide metabolism">Nicotinate and Nicotinamide metabolism</a>&nbsp;</td>
</tr>
<tr>
<td>Glutathione Red</td>
<td><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=124886" title="124886">124886</a>&nbsp;</td>
<td>Amino acid</td>
<td><a href="http://pathman.smpdb.ca/pathways/SMP00015/pathway" title="Gluthathione metabolism">Gluthathione metabolism</a>&nbsp;</td>
</tr>
<tr>
<td>Glutathione Oxi</td>
<td><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=975" title="975">975</a>&nbsp;</td>
<td>Amino acid</td>
<td><a href="http://pathman.smpdb.ca/pathways/SMP00015/pathway" title="Gluthathione metabolism">Gluthathione metabolism</a>&nbsp;</td>
</tr>
</tbody>
</table>
<div class="clearerSpace">&nbsp;</div>
<p align="left"><a href="#top">Back to top</a>&nbsp;</p>
<a name="acylcarnitines"></a><h3>Module # 5 Acylcarnitines</h3>
<div>&nbsp; Under development&nbsp;<br>



















&nbsp;</div>
<br><p align="left"><a href="#top">Back to top</a>&nbsp;&nbsp;</p>
<a name="amino"></a><h3>Module #6 Amino acids and Biogenic amines&nbsp;</h3>
<div>&nbsp; &nbsp;Under development&nbsp;</div>
<div>&nbsp;</div>
<br><p align="left"><a href="#top">Back to top</a>&nbsp;</p>
<p align="left"><strong></strong>&nbsp;</p>
<h3><strong>Module # 7 &nbsp;GC/MS small molecule screen by electron impact
ionization</strong></h3>
<div><strong><br></strong>&nbsp;</div>
<div>Detailed website information under development&nbsp;</div>
<h3><span style="font-weight: normal;">GC/MS will identify at least 40 to 50 small
metabolites, in the combined glycolytic/gluconeogenic, pentose and TCA cycle
pathways. For an example by the SIMC facility, see Vaitheesvaran B, Yang L,
Hartil K, Glaser S, Yazulla S, et al. (2012) Peripheral Effects of FAAH
Deficiency on Fuel and Energy Homeostasis: Role of Dysregulated Lysine
Acetylation. PLoS ONE 7(3): e33717. doi:10.1371/journal.pone.0033717&nbsp;</span></h3>
<h3><strong>Module # 8
Gas Chromatography/Flame Ionization detection for fatty acid profiling</strong></h3>
<div>Detailed website information under development</div>
<h3><strong>Module #9 Estimates of <em>de novo</em> lipogenesis
using deuterated water</strong>&nbsp;</h3>
<div><div><div>Detailed website information under development</div>
<h3></h3>
<h3>B<span style="font-weight: normal;">oth fatty acid and cholesterol synthesis can be assessed in tissues, depending on the time frame for the study.&nbsp;</span><span style="font-weight: normal;"><span><br></span><span>For
 examples by the SIMC Facility see&nbsp;Haas et al, Hepatic Insulin 
Signaling Is Required for Obesity-Dependent Expression of 
SREBP-1c&nbsp;mRNA but Not for Feeding-Dependent Expression, Cell 
Metabolism 15, 873–884, 2012;&nbsp;Zhao et al Regulation of lipogenesis 
by cyclin-dependent kinase 8–mediated control of SREBP-1, J. Clin. 
Invest. 122:2417-27, 2012; Vaitheesvaran B, Yang L, Hartil K, Glaser S, 
Yazulla S, et al. (2012) Peripheral Effects of FAAH Deficiency on Fuel 
and Energy Homeostasis: Role of Dysregulated Lysine Acetylation. PLoS 
ONE 7(3): e33717&nbsp;</span></span></h3>
<div>&nbsp;</div>
</div>
<h3>Module #10 Hepatic Recycling Glucose Tolerance Test</h3>
<div><h3><span style="font-weight: normal;">Illustrative diagram of 
pathways for hepatic metabolism of the deuterium-labeled 
[2-2H1]/[6,6-2H2]glucose. Use of deutrated, instead of unlabeled glucose
 during a GTT allows for the estimation of hepatic and peripheral 
glucose disposal. Equal amounts of D1 and D2 glucose ( [2-2H1]- and 
[6,6-2H2] glucose) are given, at 1 mg glucose/gm body weight. 
De-deuteration of [2-2H1] glucose occurs during the equilibration of 
glucose-6-P (G-6-P) with fructose-6-P (F-6-P), which causes plasma D1/D2
 levels to decrease. De-deuteration of [6,6-2H1]glucose does not occur 
until the deuterated glucose reaches the level of pyruvate. &nbsp;Whole 
body glucose disposal (mainly peripheral) is reflected in the area under
 the curve of [6,6-2H2] glucose &nbsp;during the GTT. Hepatic vs 
peripheral glucose disposal can be assessed from the differences in 
plasma [2-2H1]- and [6,6-2H2] glucose during the GTT. This test allows 
for non-invasive monitoring of peripheral and hepatic glucose disposal, 
and the mice can be used, after recovery, for additional phenotyping 
tests. &nbsp;GK, glucokinase; G6Pase, glucose-6-phosphatase; PK, 
pyruvate kinase. Diagram from Xu et al Decreased Hepatic Futile Cycling 
Compensates for Increased Glucose Disposal in the Pten Heterodeficient 
Mouse, Diabetes 55: 3372-3380, 2006. More examples, done by the SIMC 
Facility: Vaitheesvaran, LeRoith and Kurland MKR mice have increased 
dynamic glucose disposal despite metabolic inflexibility, and hepatic 
and peripheral insulin insensitivity Diabetologia 53:2224–2232, 2010; 
Vaitheesvaran et al Advantages of dynamic ‘‘closed loop’’ stable isotope
 flux phenotyping over static ‘‘open loop’’ clamps in detecting silent 
genetic and dietary phenotypes Metabolomics 6:180–190, 2010; Zong et al 
Enhanced Energy Expenditure, Glucose Utilization, and Insulin 
Sensitivity in VAMP8 Null Mice Diabetes. 60: 30–38, 2011</span></h3>












&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;<a href="#" onclick="try{window.open('/uploadedImages/Research/Shared-Facilities/stable-isotopes-metabolics/Module10.jpg', 'MyImage', 'resizable=yes, scrollbars=yes, width=790, height=580')}catch(e){};return false;" onkeypress="this.onclick();" title="/uploadedImages/Research/Shared-Facilities/stable-isotopes-metabolics/Module10.jpg"><img src="/assets/einstein_portal_files/thumb_Module10.jpg" alt="Module10 diagram" title="Module10 diagram" border="0"></a>&nbsp;</div>
<div>&nbsp;&nbsp;</div>















































&nbsp;<p>&nbsp;</p>
</div>
<div>&nbsp;<table>
<tbody>
<tr>
</tr>
</tbody>
</table>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
</div>
      </div>
      <!--RIGHT COLUMN -->
      <div id="contentRightColumn">
      	<div id="contentblock2">
	<div id="rightColumnContainer"><div id="rightColumnBox" class="blueShading"><h2><span style="font-size: 10pt; line-height: 0;">&nbsp;</span>Downloads</h2>
<ul>
<li><a href="http://www.einstein.yu.edu/docs/research/shared-facilities/stable-isotope-metabolomics/order-form.xlsx">Price List</a>&nbsp;</li>
<li><%= link_to 'Blank Sample Manifest', download_blank_manifest_path %></li>
<li><a href="http://www.einstein.yu.edu/uploadedFiles/Research/Shared-Facilities/stable-isotopes-metabolics/Sample%20preparation%20guideline.pdf" title="sample preparation guidelines">Sample Preparation Guideline</a>&nbsp;</li>
</ul>






























&nbsp;</div>
<div id="dropShadow">&nbsp;</div>
<div id="rightColumnBox" class="grayShading"><h2>Quick Links</h2>













&nbsp;</div>
<div id="rightColumnBox" class="grayShading">&nbsp;<br><a href="http://www.einstein.yu.edu/research/shared-facilities/stable-isotope-metabolomics-core/services/#metabolites">Module #1 180 Metabolites</a>&nbsp;&nbsp;</div>
<div id="rightColumnBox" class="grayShading"><ul>
<li><a href="http://pathman.smpdb.ca/pathways/SMP00059/pathway" title="Urea Cycle">Urea Cycle</a>&nbsp;</li>
<li><a href="http://pathman.smpdb.ca/pathways/SMP00051/pathway" title="Fatty acid metabolism">Fatty acid metabolism</a>&nbsp;</li>
<li><a href="http://pathman.smpdb.ca/pathways/SMP00445/pathway" title="Spermidine and Spermine metabolism">Spermidine and Spermine metabolism</a>&nbsp;</li>
</ul>
<a href="http://www.einstein.yu.edu/research/shared-facilities/stable-isotope-metabolomics-core/services/#metabolites150">Module #2 150 Metabolites </a>&nbsp;</div>
<div id="rightColumnBox" class="grayShading"><ul>
<li><a href="http://pathman.smpdb.ca/pathways/SMP00059/pathway" title="Urea Cycle">Urea Cycle</a>&nbsp;</li>
<li><a href="http://pathman.smpdb.ca/pathways/SMP00051/pathway" title="Fatty acid metabolism">Fatty acid metabolism</a>&nbsp;</li>
<li><a href="http://pathman.smpdb.ca/pathways/SMP00445/pathway" title="Spermidine and Spermine metabolism">Spermidine and Spermine metabolism</a>&nbsp;</li>
</ul>
<a href="http://www.einstein.yu.edu/research/shared-facilities/stable-isotope-metabolomics-core/services/#glycolsis">Module #3 Glycolysis, Pentose Phosphate and TCA Metabolites</a>&nbsp;</div>
<div id="rightColumnBox" class="grayShading"><ul>
<li><a href="http://pathman.smpdb.ca/pathways/SMP00040/pathway" title="Glycolysis Pathway">Glycolysis Pathway</a>&nbsp;</li>
<li><a href="http://pathman.smpdb.ca/pathways/SMP00031/pathway" title="Pentose Phosphate pathway">Pentose Phosphate pathway</a>&nbsp;</li>
<li><a href="http://pathman.smpdb.ca/pathways/SMP00057/pathway" title="TCA cycle">TCA cycle</a>&nbsp;</li>
</ul>
<a href="http://www.einstein.yu.edu/research/shared-facilities/stable-isotope-metabolomics-core/services/#redox">Module #4 Redox and Bioenergetics</a>&nbsp;</div>
<div id="rightColumnBox" class="grayShading"><ul>
<li><a href="http://pathman.smpdb.ca/pathways/SMP00040/pathway" title="Glycolysis Pathway">Glycolysis Pathway</a>&nbsp;</li>
<li><a href="http://pathman.smpdb.ca/pathways/SMP00048/pathway" title="Nicotinate and Nicotinamide pathway&nbsp;">Nicotinate and Nicotinamide pathway&nbsp;</a>&nbsp;</li>
</ul>
<a href="http://www.einstein.yu.edu/research/shared-facilities/stable-isotope-metabolomics-core/services/#acylcarnitines">Module # 5 Acylcarnitines</a>&nbsp;</div>
<div id="rightColumnBox" class="grayShading"><ul>
<li>Under Development&nbsp;</li>
</ul>
<a href="http://www.einstein.yu.edu/research/shared-facilities/stable-isotope-metabolomics-core/services/#amino">Module #6 Amino acids and Biogenic amines </a>&nbsp;&nbsp;</div>
<div id="rightColumnBox"><ul>
<li>Under Development&nbsp;</li>
</ul>
<br><font size="3"><h4></h4>
</font><br>&nbsp;</div>
</div>
</div>
      </div>      
      <div class="clearer"></div>
      <!--END WRAPPER CONTENT-->
    </div>
    <!--END CONTENT-->
    <!--BEGIN FOOTER-->
    <div id="footer">
    	<div id="socialMediaRibbon">
    <ul>
        <li><a href="http://www.facebook.com/EinsteinCollegeofMedicine" target="_blank" onclick="linkTracker(this, 'footer-social-media', 'facebook', 'blank'); return false;" class="facebook"></a></li>
        <li><a href="http://twitter.com/EinsteinMed" target="_blank" onclick="linkTracker(this, 'footer-social-media', 'twitter', 'blank'); return false;" class="twitter"></a></li>
        <li><a href="http://www.youtube.com/user/EinsteinCollegeofMed" target="_blank" onclick="linkTracker(this, 'footer-social-media', 'youtube', 'blank'); return false;" class="youtube"></a></li>
        <li><a href="https://plus.google.com/u/0/111507202463091285794/posts" target="_blank" onclick="linkTracker(this, 'footer-social-media', 'google-plus', 'blank'); return false;" class="googlePlus"></a></li>
        <li><a href="http://pinterest.com/einsteinmed/" target="_blank" onclick="linkTracker(this, 'footer-social-media', 'pinterest', 'blank'); return false;" class="pinterest"></a></li>
        <li><a href="javascript:InfoItunes('http://deimos.apple.com/WebObjects/Core.woa/Browse/aecom.yu.edu');" onclick="linkTracker(this, 'footer-social-media', 'itunes', 'self'); return false;" class="iTunes"></a></li>
        <li><a href="http://www.linkedin.com/companies/556031" target="_blank" onclick="linkTracker(this, 'footer-social-media', 'linked-in', 'blank'); return false;" class="linkedIn"></a></li>
    </ul>
</div>
<div id="sitemap">
    <div id="sitemapColumnOne">
        <h6 class="firstLine"><a href="http://www.einstein.yu.edu/about/" onclick="linkTracker(this, 'bottom-banner', 'about-einstein', 'self'); return false;">About Einstein</a></h6>
        <ul>
            <li><a href="http://www.einstein.yu.edu/about/history.asp" onclick="linkTracker(this, 'bottom-banner', 'history', 'self'); return false;">History</a></li>
            <li><a href="http://www.einstein.yu.edu/about/our-community/" onclick="linkTracker(this, 'bottom-banner', 'community', 'self'); return false;">Community</a></li>
            <li><a href="http://www.einstein.yu.edu/administration/dean/deans-view.asp" onclick="linkTracker(this, 'bottom-banner', 'dean', 'self'); return false;">Dean's Page</a></li>
        </ul>
        <h6><a href="http://www.einstein.yu.edu/administration/" onclick="linkTracker(this, 'bottom-banner', 'administration', 'self'); return false;">Administration</a></h6>
        <ul>
            <li><a href="http://www.einstein.yu.edu/administration/" onclick="linkTracker(this, 'bottom-banner', 'administrative-departments', 'self'); return false;">Administrative Departments</a></li>
        </ul>
        <h6><a href="http://www.einstein.yu.edu/alumni/" onclick="linkTracker(this, 'bottom-banner', 'alumni', 'self'); return false;">Alumni</a></h6>
    </div>
    <div id="sitemapColumnTwo">
        <h6 class="firstLine"><a href="https://einsteincareers-yeshiva.icims.com/jobs/intro?hashed=0" target="_blank" onclick="linkTracker(this, 'bottom-banner', 'careers', 'blank'); return false;">Careers</a></h6>
        <h6><a href="http://www.einstein.yu.edu/centers/" onclick="linkTracker(this, 'bottom-banner', 'centers', 'self'); return false;">Centers (Research)</a></h6>
        <h6><a href="http://www.einstein.yu.edu/about/contact-us.asp" onclick="linkTracker(this, 'bottom-banner', 'contact-us', 'self'); return false;">Contact Us</a></h6>
        <h6><a href="http://www.einstein.yu.edu/departments/" onclick="linkTracker(this, 'bottom-banner', 'departments', 'self'); return false;">Departments</a></h6>
        <h6><a href="http://www.einstein.yu.edu/donors/" onclick="linkTracker(this, 'bottom-banner', 'donors', 'self'); return false;">Donors</a></h6>
        <ul>
            <li><a href="https://secure3.convio.net/yu/site/Donation2?df_id=1401&amp;1401.donation=form1&amp;JServSessionIdr004=e2syv90ey2.app341b" target="_blank" onclick="linkTracker(this, 'bottom-banner', 'support-einstein', 'blank'); return false;">Support Einstein</a></li>
            <li><a href="http://www.einstein.yu.edu/alumni/alumni-development-office/" onclick="linkTracker(this, 'bottom-banner', 'development-office', 'self'); return false;">Giving to Einstein</a></li>
        </ul>
    </div>
    <div id="sitemapColumnThree">
        <h6 class="firstLine"><a href="http://www.einstein.yu.edu/education/" onclick="linkTracker(this, 'bottom-banner', 'education', 'self'); return false;">Education</a></h6>
        <ul>
            <li><a href="http://www.einstein.yu.edu/education/graduate-medical-education/" onclick="linkTracker(this, 'bottom-banner', 'gme', 'self'); return false;">Graduate Medical Education (G.M.E.)</a></li>
            <li><a href="http://www.einstein.yu.edu/education/phd/" onclick="linkTracker(this, 'bottom-banner', 'phd', 'self'); return false;">Graduate Program (Ph.D.)</a></li>
            <li><a href="http://www.einstein.yu.edu/masters-in-bioethics/" onclick="linkTracker(this, 'bottom-banner', 'mbe', 'self'); return false;">Master in Bioethics (M.S.)</a></li>
            <li><a href="http://www.einstein.yu.edu/centers/ictr/crtp/" onclick="linkTracker(this, 'bottom-banner', 'clinical-research', 'self'); return false;">Masters in Clinical Research (M.S.)</a></li>
            <li><a href="http://www.einstein.yu.edu/centers/public-health-sciences/" onclick="linkTracker(this, 'bottom-banner', 'mph', 'self'); return false;">Center for Public Health Sciences</a></li>
            <li><a href="http://www.einstein.yu.edu/education/md-program/" onclick="linkTracker(this, 'bottom-banner', 'md', 'self'); return false;">Medical Program (M.D.)</a></li>
            <li><a href="http://mstp.einstein.yu.edu/" target="_blank" onclick="linkTracker(this, 'bottom-banner', 'mstp', 'blank'); return false;">MSTP Program (M.D. - Ph.D.)</a></li>
        </ul>
        <h6><a href="http://www.einstein.yu.edu/administration/senate/" onclick="linkTracker(this, 'bottom-banner', 'senate', 'self'); return false;">Einstein Senate</a></h6>
    </div>
    <div id="sitemapColumnFour">
        <h6 class="firstLine"><a href="http://www.einstein.yu.edu/search/?searchType=faculty" onclick="linkTracker(this, 'bottom-banner', 'faculty-directory', 'self'); return false;">Faculty Directory</a></h6>
        <h6><a href="http://www.einstein.yu.edu/health/" onclick="linkTracker(this, 'bottom-banner', 'health', 'self'); return false;">Health</a></h6>
        <ul>
            <li><a href="http://www.einstein.yu.edu/health/affiliates.asp" onclick="linkTracker(this, 'bottom-banner', 'affiliated-institutions', 'self'); return false;">Affiliated Institutions</a></li>
            <li><a href="http://www.einstein.yu.edu/health/affiliates.asp" onclick="linkTracker(this, 'bottom-banner', 'clinical-programs', 'self'); return false;">Clinical Programs</a></li>
            <li><a href="http://www.einstein.yu.edu/centers/global-health/" onclick="linkTracker(this, 'bottom-banner', 'global-health', 'self'); return false;">Global Health</a></li>
            <li><a href="http://www.einstein.yu.edu/health/einstein-montefiore.asp" onclick="linkTracker(this, 'bottom-banner', 'einstein-montefiore', 'self'); return false;">Einstein-Montefiore Partnership</a></li>
        </ul>
        <h6><a href="http://library.einstein.yu.edu/" target="_blank" onclick="linkTracker(this, 'bottom-banner', 'library', 'blank'); return false;">Library</a></h6>
    </div>
    <div id="sitemapColumnFive">
        <h6 class="firstLine"><a href="http://www.einstein.yu.edu/news/" onclick="linkTracker(this, 'bottom-banner', 'newsroom', 'self'); return false;">Newsroom</a></h6>
        <ul>
            <li><a href="http://blogs.einstein.yu.edu/" target="_blank" onclick="linkTracker(this, 'bottom-banner', 'blog', 'blank'); return false;">Blog</a></li>
            <li><a href="http://www.einstein.yu.edu/news/in-the-media.asp" onclick="linkTracker(this, 'bottom-banner', 'eitm', 'self'); return false;">Einstein in the Media</a></li>
            <li><a href="http://www.einstein.yu.edu/faculty/experts/" onclick="linkTracker(this, 'bottom-banner', 'expert-list', 'self'); return false;">Expert List</a></li>
            <li><a href="http://www.einstein.yu.edu/features/" onclick="linkTracker(this, 'bottom-banner', 'features', 'self'); return false;">Features</a></li>
            <li><a href="http://www.einstein.yu.edu/video/" onclick="linkTracker(this, 'bottom-banner', 'multimedia', 'self'); return false;">Multimedia</a></li>
            <li><a href="http://www.einstein.yu.edu/news/news-archive.asp" onclick="linkTracker(this, 'bottom-banner', 'news-releases', 'self'); return false;">News Releases</a></li>
            <li><a href="http://www.einstein.yu.edu/social-media/" onclick="linkTracker(this, 'bottom-banner', 'social-media-hub', 'self'); return false;">Social Media Hub</a></li>
        </ul>
        <h6><a href="http://www.einstein.yu.edu/administration/policies.asp" onclick="linkTracker(this, 'bottom-banner', 'policies', 'self'); return false;">Policies</a></h6>
    </div>
    <div id="sitemapColumnSix">
        <h6 class="firstLine"><a href="http://www.einstein.yu.edu/publications/" onclick="linkTracker(this, 'bottom-banner', 'publications', 'self'); return false;">Publications</a></h6>
        <h6><a href="http://www.einstein.yu.edu/research/" onclick="linkTracker(this, 'bottom-banner', 'research', 'self'); return false;">Research</a></h6>
        <ul>
            <li><a href="http://www.einstein.yu.edu/research/collaboration-zone/" onclick="linkTracker(this, 'bottom-banner', 'collaboration-zone', 'self'); return false;">Collaboration Zone</a></li>
            <li><a href="http://www.einstein.yu.edu/research/shared-facilities/" onclick="linkTracker(this, 'bottom-banner', 'scientific-resources', 'self'); return false;">Scientific Resources</a></li>
        </ul>
        <h6><a href="http://www.einstein.yu.edu/visitors/" onclick="linkTracker(this, 'bottom-banner', 'visitors', 'self'); return false;">Visitors</a></h6>
        <ul>
            <li><a href="http://www.einstein.yu.edu/visitors/campus-map.asp" onclick="linkTracker(this, 'bottom-banner', 'campus-map', 'self'); return false;">Campus Map</a></li>
            <li><a href="http://www.einstein.yu.edu/visitors/" onclick="linkTracker(this, 'bottom-banner', 'directions', 'self'); return false;">Directions</a></li>
        </ul>
        <h6><a href="http://owa.einstein.yu.edu/" target="_blank" onclick="linkTracker(this, 'bottom-banner', 'owa', 'blank'); return false;">Webmail</a></h6>
    </div>
    <div class="clearer"></div>
</div>
<div id="footerBottom">
    <div id="einsteinRegistered"> ALBERT EINSTEIN ®<br>
        College of Medicine </div>
    <div id="yeshiva"><a href="http://www.yu.edu/" target="_blank" onclick="linkTracker(this, 'bottom-banner', 'yeshiva-university', 'blank'); return false;"><img src="/assets/einstein_portal_files/yeshiva-university.png" alt="Yeshiva University" border="0" height="21" width="114"></a></div>
    <div id="links">© 2013 Albert Einstein College of Medicine | <a href="http://www.einstein.yu.edu/campus/" onclick="linkTracker(this, 'bottom-banner', 'resnick-campus', 'self'); return false;">Jack and Pearl Resnick Campus</a> | 1300 Morris Park Avenue Bronx, NY 10461<br>
        718.430.2000 | <a href="http://www.einstein.yu.edu/docs/privacy-policy/privacy-policy.pdf" target="_blank" onclick="linkTracker(this, 'bottom-banner', 'privacy-policy', 'blank'); return false;">Privacy Policy</a> | <a href="http://www.einstein.yu.edu/docs/terms-of-use/terms-of-use.pdf" target="_blank" onclick="linkTracker(this, 'bottom-banner', 'terms-of-use', 'blank'); return false;">Terms of Use</a> | <a href="mailto:webfeedback@einstein.yu.edu" onclick="linkTracker(this, 'bottom-banner', 'webmaster', 'none'); return false;">Webmaster</a></div>
    <div class="clearer"></div>
</div>

    </div>
    <!--END FOOTER-->
  </div>
  <div class="clearer"></div>
  <!--END MAIN HOLDER-->
  <!-- BEGIN BOTTOM DROP SHADOW BG -->
  <div id="outercontainerBottom">
    <script type="text/javascript">
/*<![CDATA[*/
(function() {
var sz = document.createElement('script'); sz.type = 'text/javascript'; sz.async = true;
sz.src = '//us1.siteimprove.com/js/siteanalyze_63377.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sz, s);
})();
/*]]>*/
</script>
    <div id="cmsKey"><span id="Login1"><script type="text/javascript">
function ecmPopUpWindow(url, hWind, nWidth, nHeight, nScroll, nResize) {
 var popupwin,  cToolBar;
 if(nWidth == '9999' && nHeight == '9999'){
     cToolBar = 'toolbar=0,location=0,directories=0,status=' + nResize + ',menubar=0,scrollbars=' + nScroll + ',resizable=' + nResize + ',width=' + screen.width + ',height=' + screen.height;
     popupwin = window.open(url, hWind, cToolBar);
     popupwin.moveTo(0,0);
     popupwin.resizeTo(screen.availWidth, screen.availHeight); } else {
     cToolBar = 'toolbar=0,location=0,directories=0,status=' + nResize + ',menubar=0,scrollbars=' + nScroll + ',resizable=' + nResize + ',width=' + nWidth + ',height=' + nHeight;
     popupwin = window.open(url, hWind, cToolBar);
 } 
return popupwin;
}
</script>
<a href="http://www.einstein.yu.edu/research/shared-facilities/stable-isotope-metabolomics-core/default.aspx?id=38193#" onclick='ecmPopUpWindow("/WorkArea/login.aspx", "Login", 250, 190, 0, 0);return false;'><img src="/assets/einstein_portal_files/btn_login.gif" alt="Click here to log in" title="Click here to log in" border="0"></a></span></div>
  </div>
  <!-- END BOTTOM DROP SHADOW BG -->
</div>
<!--END OUTER HOLDER WITH RIGHT DROP SHADOW BG -->

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['ctl01'];
if (!theForm) {
    theForm = document.ctl01;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<script src="/assets/einstein_portal_files/WebResource.js" type="text/javascript"></script>
</form>

<div id="ui-datepicker-div" style="display: none;"></div></body></html>