<h1>Services</h1>

<p>
  The Einstein College Stable Isotope and Metabolomic Core Facility (SIMC) offers various test modules designed to suit your needs. If you have any questions
  or concerns please don't hesitate to <%= link_to 'contact us', contact_path %>.
</p>

<h2>Test Modules</h2>
<%= render :partial => '/clients/sample_manifests/tests' %>