<%= form.error_messages %>

<fieldset style="width: 50%">
  <legend>File Type Details</legend>
  <p><%= form.text_field :name, :required => true %></p>
  <p><%= form.text_area :description %></p>
</fieldset>