<h1>Cohort to which Patient <%= @patient.code %> belongs</h1>

<table>
  <tr>
    <th>Cohort</th>
  </tr>

<% for cohort_assignment in @cohort_assignments %>
  <tr>
    <td><%=h cohort_assignment.cohort.name %></td>
    <td><%= link_to 'Remove', patient_cohort_assignment_path(@patient, cohort_assignment), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cohort_assignment', new_patient_cohort_assignment_path(@patient) %>
