
<div id="gc_fap_dialog">
	<h2>Fatty Acids</h2>
	<button class="link_to" data-url="http://pathman.smpdb.ca/pathways/SMP00051/pathway" target="_blank">Fatty acid Metabolism</button>
	<button class="link_to" data-url="http://pathman.smpdb.ca/pathways/SMP00456/pathway" target="_blank">Fatty Acid Biosynthesis</button>
	<table class="list" style="width:900px;">
		<tr>
			<td>C4:0</td>
	<td>C6:0</td>
	<td>C8:0</td>
	</tr>
	<tr>
	<td>C10:0</td>
	<td>C11:0</td>
	<td>C12:0</td>
</tr>
<tr>	
	<td>C13:0</td>
	<td>C14:0</td>
	<td>C14:1(cis-9)</td>
</tr>
<tr>

	<td>C15:0</td>
	<td>C15:1(cis-10)</td>
	<td>C16:0</td>
</tr>
<tr>
	<td>C16;1(cis-9)</td>
	<td>C17:0</td>
	<td>C17:1(cis-10)</td>
</tr>
<tr>

	<td>C18:0</td>
	<td>C18:1(trans-9)</td>
	<td>C18:1(cis-9)</td>
</tr>
<tr>

	<td>C18:2(all-trans-9,12)</td>
	<td>C18:2(all-cis-9,12)</td>
	<td>C18:3(all-cis-6,9,12)</td>
</tr>
<tr>

	<td>C18:3(all-cis-9,12,15)</td>
	<td>C20:0</td>
	<td>C20:1(cis-11)</td>
</tr>
<tr>

	<td>C20:2(all-cis-11,14,)</td>
	<td>C20:3(all-cis-8,11,14)</td>
	<td>C20:3(all-cis-11,14,17)</td>
</tr>
<tr>

	<td>C20:4(all-cis-5,8,11,14)</td>
	<td>C20:5(all-cis-5,8,11,14,17)</td>
	<td>C21:0</td>
</tr>
<tr>

	<td>C22:0</td>
	<td>C22:1(cis-13)</td>
	<td>C22:2(all-cis-13,16)</td> 
</tr>
<tr>

	<td>22:6 (all-cis-4,7,10,13,16,19)</td>
	<td>C23:0</td>
	<td>C24:0</td>
</tr>
<tr>

	<td>C24:1(cis-15)</td>
</tr>
</table>	
</div>
