
<div id="gc_fap_dialog">

	Fatty Acid Chain
	C4:0 
	C6:0 
	C8:0 
	C10:0 
	C11:0 
	C12:0 
	C13:0
	C14:0 
	C14:1(cis-9)
	C15:0 
	C15:1(cis-10) 
	C16:0 
	C16;1(cis-9) 
	C17:0 
	C17:1(cis-10) 
	C18:0 
	C18:1(trans-9) 
	C18:1(cis-9) 
	C18:2(all-trans-9,12) 
	C18:2(all-cis-9,12) 
	C18:3(all-cis-6,9,12) 
	C18:3(all-cis-9,12,15) 
	C20:0 
	C20:1(cis-11) 
	C20:2(all-cis-11,14,) 
	C20:3(all-cis-8,11,14) 
	C20:3(all-cis-11,14,17) 
	C20:4(all-cis-5,8,11,14) 
	C20:5(all-cis-5,8,11,14,17)
	C21:0 
	C22:0 
	C22:1(cis-13) 
	C22:2(all-cis-13,16) 
	22:6 (all-cis-4,7,10,13,16,19)
	C23:0 
	C24:0 
	C24:1(cis-15)
	
</div>
