<div id="module_5_dialog">
	<div id="module_5" class="tab">
		<ul>
			<li><a href="#module_2_compounds">Metabolites</a></li>
			<li><a href="#module_2_reference">Reference Values</a></li>
		</ul>
		<div id="module_5_compounds">
			<h2>Metabolite Information</h2>
			<div align="left">
				<button class="link_to" data-url="http://pathman.smpdb.ca/pathways/SMP00040/pathway" target="_blank">Glycolysis</button>
			</div>
	<table class="list"style="width:1000px;">
		<tr>
		<td>Glucose-6-phosphate</td>
		<td>Fructose-6-phosphate</td>
		<td>Dihyrdroxyacetonephosphate</td>
		<td>Glyceraldehyde-3-phosphate</td>
		<td>Phosphoenol pyruvate</td>
		<td>Fructose-1,6-bisphosphate</td>
		</tr>
		<tr>
		<td>Alpha glycerol-3-P</td>
		<td>3-phosphoglycerate</td>
		<td>phosphoenolpyruvate</td>
		<td>pyruvate</td>
		<td>lactate</td>
		<td></td>
		</tr>
	</table>
	<div align="left">
		<button class="link_to" data-url="http://pathman.smpdb.ca/pathways/SMP00031/pathway" target="_blank">Pentose Phosphate Pathway</button>
	</div>
	<table>
		<tr>
		<td>Glucose-6-phosphate</td>
		<td>Fructose-6-phosphate</td>
		<td>6-phospho-D-gluconate</td>
		<td>Ribulose-5-Phosphate</td>
		<td>Ribose-5-Phosphate</td>
		<td>Glyceraldehyde-3-phosphate</td>
		</tr>
	</table>
		<div align="left">
			<button class="link_to" data-url="http://pathman.smpdb.ca/pathways/SMP00057/pathway" target="_blank">Krebs Cycle</button>
		</div>		
	<table>
		<tr>
		<td>Citrate</td>
		<td>Isocitrate</td>
		<td>succinate</td>
		<td>fumarate</td>
		<td>malate</td>
		<td>pyruvate</td>
		<td>Oxaloacetic acid</td>
		</tr>
	</table>
		</div>
		<div id="module_5_reference">
			<h2>Metabolite Reference Values</h2>
			<table class="list"style="width:1000px;">
				
			</table>
		</div>
	</div>
</div>