<div id="module_5_dialog">
	<div id="module_5" class="tab">
		<ul>
			<li><a href="#module_5_compounds">Metabolites</a></li>
			<li><a href="#module_5_reference">Reference Values</a></li>
		</ul>
		<div id="module_5_compounds" class="tab">
			<h2>Metabolite Information</h2>
			<ul>
				<li><a href="#module_5_glycolysis">Glycolysis</a></li>
				<li><a href="#module_5_pentose_phospate">Pentose Phosphate Pathways</a></li>
				<li><a href="#module_5_krebs_cylce">Krebs Cycle</a></li>
			</ul>
			
			<div id="module_5_glycolysis">
				<button class="link_to" data-url="http://pathman.smpdb.ca/pathways/SMP00040/pathway" target="_blank">Glycolysis</button>

				<table class="list"style="width:1000px;">
					<tr>
					<td>Glucose-6-phosphate</td>
					<td>Fructose-6-phosphate</td>
					<td>Dihyrdroxyacetonephosphate</td>
					</tr>
					<tr>
					<td>Glyceraldehyde-3-phosphate</td>
					<td>Phosphoenol pyruvate</td>
					<td>Fructose-1,6-bisphosphate</td>
					</tr>
					<tr>
					<td>Alpha glycerol-3-P</td>
					<td>3-phosphoglycerate</td>
					<td>phosphoenolpyruvate</td>
					</tr>
					<tr>
					<td>pyruvate</td>
					<td>lactate</td>
					<td></td>
					</tr>
				</table>
			</div>
			
			<div id="module_5_pentose_phospate">
				<button class="link_to" data-url="http://pathman.smpdb.ca/pathways/SMP00031/pathway" target="_blank">Pentose Phosphate Pathway</button>
				<table class="list"style="width:900px;">
					<tr>
					<td>Glucose-6-phosphate</td>
					<td>Fructose-6-phosphate</td>
					<td>6-phospho-D-gluconate</td>
					</tr>
					<tr>
					<td>Ribulose-5-Phosphate</td>
					<td>Ribose-5-Phosphate</td>
					<td>Glyceraldehyde-3-phosphate</td>
					</tr>
				</table>
			</div>

			<div id="module_5_krebs_cylce">
				<button class="link_to" data-url="http://pathman.smpdb.ca/pathways/SMP00057/pathway" target="_blank">Krebs Cycle</button>
				<table class="list"style="width:900px;">
					<tr>
					<td>Citrate</td>
					<td>Isocitrate</td>
					<td>succinate</td>
					<td>fumarate</td>
					</tr>
					<tr>
					<td>malate</td>
					<td>pyruvate</td>
					<td>Oxaloacetic acid</td>
					<td></td>
					</tr>
				</table>
			</div>
		</div>
		<div id="module_5_reference" class="tab">
			<h2>Metabolite Reference Values</h2>
			<ul>
				<li><a href="#module_5_rat_reference">Rat Reference Values</a></li>
				<li><a href="#module_5_mouse_reference">Mouse Reference Values</a></li>
			</ul>
			<div id="module_5_rat_reference">
			<table class="list"style="width:1000px;">
				<tr>
					<th>Metabolite</th>
					<th>State of Animal</th>
					<th>Skeletal Muscle (μmole/g fresh wt)</th>
					<th>Liver (μmole/g fresh wt)<th>
				</tr>
				<tr>
					<td>Glucose</td>
					<td>Fed</td>
					<td></td>
					<td>1.84</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Glucose-6-phosphate</td>
					<td>Fed</td>
					<td>0.800 - 0.101</td>
					<td>0.160 - 0.370</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td>0.082-0.192</td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td>0.118-0.329</td>
				</tr>
				<tr>
					<td>Fructose-6-phosphate</td>
					<td>Fed</td>
					<td>0.019-0.280</td>
					<td>0.052-0.112</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td>0.027-0.046</td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td>0.018</td>
				</tr>
				<tr>
					<td>Isocitrate</td>
					<td>Fed</td>
					<td></td>
					<td>0.020-0.021</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td>0.013</td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>malate</td>
					<td>Fed</td>
					<td>0.038-0.10</td>
					<td>0.28-0.50</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td>0.22-0.49</td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td>0.40-0.61</td>
				</tr>
				<tr>
					<td>succinate</td>
					<td>Fed</td>
					<td></td>
					<td>0.74</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>fumarate</td>
					<td>Fed</td>
					<td></td>
					<td>0.075</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>pyruvate</td>
					<td>Fed</td>
					<td>0.43-0.116</td>
					<td>0.130-0.252</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td>0.040-0.080</td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td>0.021-0.137</td>
				</tr>
				<tr>
					<td>lactate</td>
					<td>Fed</td>
					<td>0.90-4.65</td>
					<td>1.50-2.64</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td>0.45-0.95</td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td>1.52-3.01</td>
				</tr>
				<tr>
					<td>Dihyrdroxyacetonephosphate</td>
					<td>Fed</td>
					<td>0.008-0.040</td>
					<td>0.027-0.044</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td>0.010-0.026</td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td>0.020-0.026</td>
				</tr>
				<tr>
					<td>Glyceraldehyde-3-phosphate</td>
					<td>Fed</td>
					<td>&lt;0.0005-0.0016</td>
					<td>0.0014-0.012</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td>0.017</td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td>0.01</td>
				</tr>
				<tr>
					<td>alpha-ketoglutaric acid </td>
					<td>Fed</td>
					<td>0.018-0.06</td>
					<td>0.14</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td>0.108</td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td>0.045</td>
				</tr>
				<tr>
					<td>Oxaloacetic acid </td>
					<td>Fed</td>
					<td></td>
					<td>0.0037-0.007</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td>0.0015-0.002</td>
				</tr>
			</table>
			</div>
			<div id="module_5_mouse_reference">
				<table class="list"style="width:1000px;">
					<tr>
						<th>Metabolite</th>
						<th>State of Animal</th>
						<th>Skeletal Muscle (μmole/g fresh wt)</th>
						<th>Liver (μmole/g fresh wt)<th>
					</tr>
					<tr>
						<td>Glucose</td>
						<td>Fed</td>
						<td></td>
						<td>8.6-25</td>
					</tr>
					<tr>
						<td></td>
						<td>Fast (18-24hr.)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td>Diabetes</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Glucose-6-phosphate</td>
						<td>Fed</td>
						<td></td>
						<td>0.18-0.38</td>
					</tr>
					<tr>
						<td></td>
						<td>Fast (18-24hr.)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td>Diabetes</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Fructose-6-phosphate</td>
						<td>Fed</td>
						<td></td>
						<td>0.07</td>
					</tr>
					<tr>
						<td></td>
						<td>Fast (18-24hr.)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td>Diabetes</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>pyruvate</td>
						<td>Fed</td>
						<td></td>
						<td>0.15-0.23</td>
					</tr>
					<tr>
						<td></td>
						<td>Fast (18-24hr.)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td>Diabetes</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>lactate</td>
						<td>Fed</td>
						<td></td>
						<td>2.5-2.8</td>
					</tr>
					<tr>
						<td></td>
						<td>Fast (18-24hr.)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td>Diabetes</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Dihyrdroxyacetonephosphate</td>
						<td>Fed</td>
						<td></td>
						<td>0.033-0.043</td>
					</tr>
					<tr>
						<td></td>
						<td>Fast (18-24hr.)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td>Diabetes</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>alpha-ketoglutaric acid </td>
						<td>Fed</td>
						<td></td>
						<td>0.052</td>
					</tr>
					<tr>
						<td></td>
						<td>Fast (18-24hr.)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td>Diabetes</td>
						<td></td>
						<td></td>
					</tr>
					
				</table>
			</div>
		</div>

	</div>
</div>