<div id="module_2_dialog">
	<div id="module_2" class="tab">
		<ul>
			<li><a href="#module_2_compounds">Metabolites</a></li>
			<li><a href="#module_2_reference">Reference Values</a></li>
		</ul>
		<div id="module_2_compounds">
			<h2>Metabolite Information</h2>
			<button class="link_to" data-url="http://pathman.smpdb.ca/pathways/SMP00040/pathway" target="_blank">Glycolysis</button>
			<button class="link_to" data-url="http://pathman.smpdb.ca/pathways/SMP00057/pathway" target="_blank">Citric Acid Cycle</button>
			<p class="info">
			  <%= image_tag 'info.png', :class => 'info-logo' %>
				<%= link_to "Advantages of Tandem LC-MS for the Rapid Assessment of Tissue-Specific Metabolic Complexity Using a Pentafluorophenylpropyl Stationary Phase", "/downloads/module_2_ref.pdf" %>

			</p>
			<table class="list"style="width:1000px;">
				<tr>
				<td>Hexose-6-Phosphate</td>
				<td>Fructose-1,6-diphosphate</td>
				<td>alpha Glycerol-3-phosphate</td>
				<td>3-phosphoglycerate</td>
				</tr>
				<tr>
				<td>Phosphoenol pyruvate</td>
				<td>Pyruvate</td>
				<td>Lactate</td>
				<td>6-phospho-D-gluconate</td>
				</tr>
				<tr>
				<td>Pentose-5-phosphate</td>
				<td>glucosamine-6-P</td>
				<td>N-acetyl-glucosamine-P<br>note: sum of N-acetyl glucoasmine-1-P and -6-P</td>
				<td>Uridine-diphosphate-glucose (UDPG)</td>
				</tr>
				<tr>
				<td>glutathione (ox)</td>
				<td>glutathione (red)</td>
				<td>AMP</td>
				<td>ADP</td>
				</tr>
				<tr>
				<td>ATP</td>
				<td>Nicotinamide</td>
				<td>NAD</td>
				<td>NADH</td>
				</tr>
				<tr>
				<td>NADP</td>
				<td>NADPH</td>
				</tr>
			</table>
		</div>
		<div id="module_2_reference">
			<h2>Metabolite Reference Values</h2>
			<table class="list"style="width:1000px;">
				<tr>
					<th>Metabolite</th>
					<th>State of Animal</th>
					<th>Rat Skeletal Muscle (μmole/g fresh wt)</th>
					<th>Rat Liver (μmole/g fresh wt)<th>
				</tr>
				<tr>
					<td>Fructose-1,6-diphosphate</td>
					<td>Fed</td>
					<td>0.0036</td>
					<td>0.016-0.038</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td>0.009-0.026</td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td>0.017-0.021</td>
				</tr>
				<tr>
					<td>alpha Glycerol-3-phosphate</td>
					<td>Fed</td>
					<td>0.0055-0.130</td>
					<td>0.140-0.700</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td>0.142-0.230</td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td>0.246-0.303</td>
				</tr>
				<tr>
					<td>3-phosphoglycerate</td>
					<td>Fed</td>
					<td>0.031</td>
					<td>0.284-0.380</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td>0.076-0.572</td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td>0.277-0.424</td>
				</tr>
				<tr>
					<td>Phosphoenol pyruvate</td>
					<td>Fed</td>
					<td>0.0065</td>
					<td>0.099-0.117</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td>0.37-0.397</td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td>0.153-0.189</td>
				</tr>
				<tr>
					<td>Pyruvate</td>
					<td>Fed</td>
					<td>0.43-0.116</td>
					<td>0.130-0.252</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td>0.040-0.080</td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td>0.021-0.137</td>
				</tr>
				<tr>
					<td>Lactate</td>
					<td>Fed</td>
					<td>0.90-4.65</td>
					<td>1.50-2.64</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td>0.45-0.95</td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td>1.52-3.01</td>
				</tr>
				<tr>
					<td>6-phospho-D-gluconate</td>
					<td>Fed</td>
					<td></td>
					<td>0.019</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td>0.02</td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td>0.033</td>
				</tr>
				<tr>
					<td>Pentose-5-phosphate</td>
					<td>Fed</td>
					<td></td>
					<td>0.429</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td>0.236</td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td>0.345</td>
				</tr>
				<tr>
					<td>Isocitrate</td>
					<td>Fed</td>
					<td></td>
					<td>0.020-0.021</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td>0.013</td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>malate</td>
					<td>Fed</td>
					<td>0.038-0.10</td>
					<td>0.28-0.50</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td>0.22-0.49</td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td>0.40-0.61</td>
				</tr>
				<tr>
					<td>succinate</td>
					<td>Fed</td>
					<td></td>
					<td>0.74</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>fumarate</td>
					<td>Fed</td>
					<td></td>
					<td>0.075</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>AMP</td>
					<td>Fed</td>
					<td>0.66-1.0 nmole/g</td>
					<td>0.44-1.4 nmole/g</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td>0.3 nmole/g</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td>0.96 nmole/g</td>
				</tr>
				<tr>
					<td>ADP</td>
					<td>Fed</td>
					<td>0.48-0.82</td>
					<td>0.49-1.8</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td>0.82-1.46</td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td>0.89-1.04</td>
				</tr>
				<tr>
					<td>ATP</td>
					<td>Fed</td>
					<td>2.38-7.25</td>
					<td>2.10-3.65</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td>1.86-3.50</td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td>2.33-3.24</td>
				</tr>
				<tr>
					<td>NAD</td>
					<td>Fed</td>
					<td>0.24</td>
					<td>0.67-0.84</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td>0.82</td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td>0.81-0.88</td>
				</tr>
				<tr>
					<td>NADH</td>
					<td>Fed</td>
					<td></td>
					<td>0.041-0.140</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td>0.16</td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td>0.053-0.085</td>
				</tr>
				<tr>
					<td>NADP</td>
					<td>Fed</td>
					<td></td>
					<td>0.059-0.070</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td>0.8</td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>NADPH</td>
					<td>Fed</td>
					<td></td>
					<td>0.25-0.49</td>
				</tr>
				<tr>
					<td></td>
					<td>Fast (18-24hr.)</td>
					<td></td>
					<td>0.36</td>
				</tr>
				<tr>
					<td></td>
					<td>Diabetes</td>
					<td></td>
					<td></td>
				</tr>

			</table>
		</div>
	</div>
</div>
