<div id="module_4_dialog">
	<div id="module_4" class="tab">
		<ul>
			<li><a href="#module_2_compounds">Metabolites</a></li>
			<li><a href="#module_2_reference">Reference Values</a></li>
		</ul>
		<div id="module_4_compounds">
			<h2>Metabolite Information</h2>
			<button class="link_to" data-url="http://pathman.smpdb.ca/pathways/SMP00465/pathway" target="_blank">Carnitine Synthesis</button>
			<button class="link_to" data-url="http://pathman.smpdb.ca/pathways/SMP00030/pathway" target="_blank">Oxidation of Branched Chain Fatty Acids</button>
			<button class="link_to" data-url="http://pathman.smpdb.ca/pathways/SMP00051/pathway" target="_blank">Fatty acid Metabolism</button>
			<button class="link_to" data-url="http://pathman.smpdb.ca/pathways/SMP00482/pathway" target="_blank">Mitochondrial Beta-Oxidation of Long Chain Saturated Fatty Acids</button>
	<table class="list"style="width:1000px;">
		<tr>
		<td>Acetylcarnitine</td>
		<td>Propionylcarnitine</td>
		<td>Buyrylcarnitine</td>
		<td>Isovalerylcarnitine</td>
		</tr>
		<tr>
		<td>Hexanoylcarnitine</td>
		<td>Octanoylcarnitine</td>
		<td>Decanoylcarnitine</td>
		<td>Lauroylcarnitine</td>
		</tr>
		<tr>
		<td>Myristoylcarnitine</td>
		<td>Palmitoylcarnitine</td>
		</tr>
	</table>
		</div>
		<div id="module_4_reference">
			<h2>Metabolite Reference Values</h2>
			<table class="list"style="width:1000px;">
				
			</table>
		</div>
	</div>
</div>
