<div id="module_5_dialog">
	<div id="module_5" class="tab">
		<ul>
			<li><a href="#module_2_compounds">Metabolites</a></li>
			<li><a href="#module_2_reference">Reference Values</a></li>
		</ul>
		<div id="module_5_compounds">
			<h2>Metabolite Information</h2>
	<table class="list"style="width:1000px;">
		<tr>
		<td>Glucose</td>
		<td>Glucose-6-phosphate</td>
		<td>Fructose-6-phosphate</td>
		<td>Xylulose-5-phosphate</td>
		</tr>
		<tr>
		<td>Ribulose-5-Phosphate</td>
		<td>Ribose-5-Phosphate</td>
		<td>Citrate</td>
		<td>Isocitrate</td>
		</tr>
		<tr>
		<td>malate</td>
		<td>succinate</td>
		<td>fumarate</td>
		<td>pyruvate</td>
		</tr>
		<tr>
		<td>lactate</td>
		<td>Dihyrdroxyacetonephosphate</td>
		<td>Glyceraldehyde-3-phosphate</td>
		<td>Erythrose-4-Phosphate</td>
		</tr>
		<tr>
		<td>alpha-ketoglutaric acid</td>
		<td>Oxaloacetic acid</td>
		</tr>
	</table>
		</div>
		<div id="module_5_reference">
			<h2>Metabolite Reference Values</h2>
			<table class="list"style="width:1000px;">
				
			</table>
		</div>
	</div>
</div>