<%= knoxy_form_for(@nutrient) do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <%= f.text_field :name %>
  </fieldset>

  <div class="field-no-label actions">
    <%= f.submit %>
  </div>
<% end -%>
