/* Standard HTML Tag Styles */
body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
	font-family: verdana, arial, helvetica, sans-serif;
}

pre {
	background-color: #eee;
	padding: 10px;
	font-size: 11px;
}

/***** Links *****/
a, a:link, a:visited{ color: #2A5685; text-decoration: none; }
a:hover, a:active{ color: #c61a1a; text-decoration: underline;}
a img{ border: 0; }

h1 {
  margin-top: 0.4em;
  margin-bottom: 1em;
  color: #4c545a;
  font-size: medium;
  background: #E8E8E8;
  padding: 0.3em 0.5em;
  text-align: left;
  text-shadow: 0px 0px 0.05px white;
  letter-spacing: 1px;
  border-radius: 8px;
}

h2 {
	font-size: larger;
	margin: 1.5em 0 1em 0;
	font-weight: bold;
}

p { margin: 1em; }
strong { font-weight: bold; }
em { font-style: italic; }
fieldset { border: 1px solid #e4e4e4; margin:0; background: white; padding: 0.5em;}
legend { color: #484848; }

/*.yuimenubar { background: url(../images/menu_bg.png) repeat-x 0 0 !important ; }
.yuimenubaritemlabel { color: #CDCDB4 !important; }
*/

.yuimenubaritemlabel { cursor: pointer !important; }

/* Content elements */
div#doc3 {
	min-width: 1030px;
}

div#flash p.notice, div#flash p.error {
	margin: 0.2em 0em 1em 0em;
	padding: 0.8em;
	border-radius: 10px;
}

div#flash p.notice {
	background: #A6D785;
	color: green;
}

div#flash p.error {
	background: #CD9B9B;
	color: #8C1717;
}

.fieldWithErrors label {
/*	padding: 2px 4px;*/
	color: red;
/*	margin-bottom: 1px;*/
	
}

.fieldWithErrors input, .fieldWithErrors select {
/*	margin-top: 4px;*/
	background-color: #ffdfdf;
}

#errorExplanation {
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#errorExplanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#errorExplanation ul li {
	font-size: 12px;
	padding-left: 0em;
	margin-left: 4em;
	list-style: square;
}

/* Layout CSS */
div#headerbar {
  background: #609db3; height: 125px;
}

div#analysis {
	float: left
}

/* Layout CSS */
div#logged-in {  
  position: absolute;
  top: 5px;
  right: 15px;
  background: #B9D3EE;
  padding: 0.3em 0.4em;
  border-radius: 5px;
  border: 1px solid #FFEBCD;
  font-size: 12px;
}

div#logged-in a {
  text-decoration: underline;
}

div#menu {
	background: #001a57 url(../images/menu_bg.png) repeat-x 0 100%;
	/*	font-weight: bold;*/
	color: #ffffff;
	padding: 0.4em;
	padding-left: 1em;
}

div#menu a {
	text-decoration: none;
	color: #CDCDB4;
	font-size: 14px;
	margin-right: 1.4em;
}

div#menu a:hover {
	color: #ffffff;
	background-color: #001a57;
}

div#main, div#sidebar {
	min-height: 40em;
	padding: 0.5em;	
	border-right: 1px dotted #D3D3D3;	
}

div#main {
	height: 100%;
	margin-left: 0em;

}

div#sidebar {
	overflow: auto;
	white-space: nowrap;
	background: #FCFFF0;
}

div#sidebar h2 {
  text-shadow: 0px 0px 0.05px white;
  border-radius: 8px;
	border: 1px solid #CDCDC1;
	background: white;
  font-weight: normal;
	margin-bottom: 0.8em; 
	margin-top: 5px;
	padding: 0.3em;
}

div.subcontainer {
	background: #F0F0F0;
	display: table;
	padding: 1em;
	border: 1px solid #A3A3A3;
}

/* Standard table style */
table.list {
	text-align: left;
	border-collapse: collapse;
}

table.list th, table.list td {
	padding: 0.2em 0.4em;
	vertical-align: top;
}

table.list td {
	border-bottom: 1px solid silver;
}

table.list th {
	font-weight: bold;
	color: #636363;
	border-bottom: 1px solid #666;
}

table.list tr.even {
	background: #ECF3FE;
}

table.list tr.odd {
	background: white;
}

table.list tr.header {
	background: white !important;
}

table.list tr:hover {
	background: #FFFCCF
}

table.list tr:first-child {
	border-bottom: 1px solid #666;
}

table.list h2.sub {
	font-weight: bold;
	padding: 0.3em;
	margin-top: 2em;
	margin-bottom: 1em;
	background: #EEE9E9;
}

table.list tr.table-search {
  background: #F7F7F7;
  vertical-align: middle;
}

table.list tr.table-search th {
  vertical-align: middle;
}

/***** Gantt chart *****/
.gantt_hdr {
	position:absolute;
	top:0;
	height:16px;
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
	text-align: center;
	overflow: hidden;
}

.task {
	position: absolute;
	height:8px;
	font-size:0.8em;
	color:#888;
	padding:0;
	margin:0;
	line-height:0.8em;
}

.task_late { background:#f66 url(../images/task_late.png); border: 1px solid #f66; }
.task_done { background:#66f url(../images/task_done.png); border: 1px solid #66f; }  
.task_todo { background:#aaa url(../images/task_todo.png); border: 1px solid #aaa; }
.milestone { background-image:url(../images/milestone.png); background-repeat: no-repeat; border: 0; }


/***** Gantt Chart Tooltips ******/
.tooltip {position:relative;z-index:24;}
.tooltip:hover {z-index:25;color:#000;}
.tooltip span.tip {display: none; text-align:left;}

div.tooltip:hover span.tip {
	display:block;
	position:absolute;
	top:12px; left:24px; width:270px;
	border:1px solid #555;
	background-color:#fff;
	padding: 4px;
	font-size: 0.8em;
	color:#505050;
}

/***** Icons *****/
.icon {
	background-position: 0% 40%;
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-top: 2px;
	padding-bottom: 3px;
}

.icon22 {
	background-position: 0% 40%;
	background-repeat: no-repeat;
	padding-left: 26px;
	line-height: 22px;
	vertical-align: middle;
}

.icon-add { background-image: url(../images/add.png); }
.icon-edit { background-image: url(../images/edit.png); }
.icon-copy { background-image: url(../images/copy.png); }
.icon-del { background-image: url(../images/delete.png); }
.icon-move { background-image: url(../images/move.png); }
.icon-save { background-image: url(../images/save.png); }
.icon-cancel { background-image: url(../images/cancel.png); }
.icon-file { background-image: url(../images/file.png); }
.icon-folder { background-image: url(../images/folder.png); }
.open .icon-folder { background-image: url(../images/folder_open.png); }
.icon-package { background-image: url(../images/package.png); }
.icon-home { background-image: url(../images/home.png); }
.icon-user { background-image: url(../images/user.png); }
.icon-mypage { background-image: url(../images/user_page.png); }
.icon-admin { background-image: url(../images/admin.png); }
.icon-projects { background-image: url(../images/projects.png); }
.icon-help { background-image: url(../images/help.png); }
.icon-attachment  { background-image: url(../images/attachment.png); }
.icon-index  { background-image: url(../images/index.png); }
.icon-history  { background-image: url(../images/history.png); }
.icon-time  { background-image: url(../images/time.png); }
.icon-stats  { background-image: url(../images/stats.png); }
.icon-warning  { background-image: url(../images/warning.png); }
.icon-fav  { background-image: url(../images/fav.png); }
.icon-fav-off  { background-image: url(../images/fav_off.png); }
.icon-reload  { background-image: url(../images/reload.png); }
.icon-lock  { background-image: url(../images/locked.png); }
.icon-unlock  { background-image: url(../images/unlock.png); }
.icon-checked  { background-image: url(../images/true.png); }
.icon-details  { background-image: url(../images/zoom_in.png); }
.icon-report  { background-image: url(../images/report.png); }
.icon-comment  { background-image: url(../images/comment.png); }
.icon-calendar  { background-image: url(../images/calendar.png); }
.icon-show  { background-image: url(../images/show.png); }

.icon22-projects { background-image: url(../images/22x22/projects.png); }
.icon22-users { background-image: url(../images/22x22/users.png); }
.icon22-tracker { background-image: url(../images/22x22/tracker.png); }
.icon22-role { background-image: url(../images/22x22/role.png); }
.icon22-workflow { background-image: url(../images/22x22/workflow.png); }
.icon22-options { background-image: url(../images/22x22/options.png); }
.icon22-notifications { background-image: url(../images/22x22/notifications.png); }
.icon22-authent { background-image: url(../images/22x22/authent.png); }
.icon22-info { background-image: url(../images/22x22/info.png); }
.icon22-comment { background-image: url(../images/22x22/comment.png); }
.icon22-package { background-image: url(../images/22x22/package.png); }
.icon22-settings { background-image: url(../images/22x22/settings.png); }
.icon22-plugin { background-image: url(../images/22x22/plugin.png); }

img.gravatar { 
	padding: 2px;
	border: solid 1px #d5d5d5;
	background: #fff;
}

div.issue img.gravatar {
	float: right;
	margin: 0 0 0 1em;
	padding: 5px;
}


h2 img { vertical-align:middle; }

fieldset#date-range { padding: 0.7em; margin-bottom: 8px; }

/***** Calendar *****/
table.cal { border-collapse: collapse; width: 100%; margin: 0px 0 6px 0;border: 1px solid #d7d7d7; }
table.cal thead th {width: 14%;}
table.cal tbody tr {height: 100px;}
table.cal th { background-color:#EEEEEE; padding: 4px; }
table.cal td {border: 1px solid #d7d7d7; vertical-align: top; font-size: 0.9em;}
table.cal td p.day-num {font-size: 1.1em; text-align:right;}
table.cal td.odd p.day-num {color: #bbb;}
table.cal td.today {background:#ffffdd;}
table.cal td.today p.day-num {font-weight: bold;}

div#content { margin: 2em; }


/* Standard form */
form.tabular { padding: 0.3em }
form.tabular fieldset { background: white; margin-bottom: 1.2em; min-width: 600px; width: 70%; padding-bottom: 0.5em }
form.tabular fieldset legend { margin-left: 0.5em; }
form.tabular textarea { width: 350px; height: 70px; }

/***** Tabular forms ******/
form.tabular p {
	margin: 0;
	padding: 5px 0 8px 0;
	padding-left: 180px; /*width of left column containing the label elements*/
	height: 1%;
	clear:left;
}

html>body .tabular p {overflow:hidden;}

form.tabular label {
	font-weight: bold;
	float: left;
	text-align: right;
	margin-left: -180px; /*width of left column*/
	width: 175px; /*width of labels. Should be smaller than left column to create some right margin*/
}

form.tabular label.floating {
	font-weight: normal;
	margin-left: 0px;
	text-align: left;
	width: 270px;
}

form.tabular label.grouped {
	font-weight: normal;
	margin-left: 0px;
	text-align: left;
	width: auto;
	float: none;
}

form.tabular table.checkbox-group {
	border: none;
	margin-left: 1em;
}

form.tabular table.checkbox-group td {
	border: none;
	padding: 0.1em 0.5em;
}

/* Standard form */
form { padding: 0.3em; }
form fieldset { border: 1px solid #858585; background: #f0f0f0; margin-bottom: 1.2em; width: 70%; padding-bottom: 0.5em; min-width: 800px; }
form fieldset legend { color: #484848; margin-left: 0.5em; }
form textarea { width: 350px; height: 70px; }

.field, .field-checkbox { white-space: nowrap; text-align: left; padding: 0.3em; }
.field br, .field-checkbox br { display: none; }
.field label { width: 20em; display: inline-block; text-align: right; vertical-align: top; font-weight: bold; }
.field input, textarea, select { vertical-align: bottom; margin: 0.2em; }
.field-checkbox, .field-no-label { padding-left: 20.5em; }
.field-checkbox label { font-weight: bold; margin: 0.2em; }
.field label.grouped { font-weight: normal; margin-left: 0px; text-align: left; width: auto; float: none; }
.field-error { vertical-align: top; color: red; }

.required {color: #bb0000;}

.box{
	padding:6px;
	margin-bottom: 10px;
	background-color:#f6f6f6;
	color:#505050;
	line-height:1.5em;
	border: 1px solid #e4e4e4;
}

h3.box-header {
	background: #e0e0e0;
}

/* Pagination style */
.pagination {
background: white;

margin-top: 1em;
/* self-clearing method: */ }
.pagination a, .pagination span {
  padding: .2em .5em;
  display: block;
  float: left;
  margin-right: 1px; }
.pagination span.disabled {
  color: #999;
  border: 1px solid #DDD; }
.pagination span.current {
  font-weight: bold;
  background: #2E6AB1;
  color: white;
  border: 1px solid #2E6AB1; }
.pagination a {
  text-decoration: none;
  color: #105CB6;
  border: 1px solid #9AAFE5; }
  .pagination a:hover, .pagination a:focus {
    color: #003;
    border-color: #003; }
.pagination .page_info {
  background: #DCDCDC;
  color: green;
  padding: .4em .6em;
  width: 32em;
  margin-bottom: .3em;
  text-align: left; }
  .pagination .page_info b {
    color: #003;
    padding: .1em .25em; }
.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
* html .pagination {
  height: 1%; }
*:first-child+html .pagination {
  overflow: hidden; }


/* Home page images */
div#login-logos {
	text-align: center;
}
div#login-logos img {
	-moz-box-shadow: 3px 3px 3px #666; 
	-webkit-box-shadow: 3px 3px 3px #666;
	box-shadow: 3px 3px 3px #666;	
	margin-left: 0em; 
	margin-right: 4em
}

/* Home page stats */
table.stats {
  margin: 1em 0 2em 1.5em;
  width: 300px;
}

.node-selected {
	font-weight: bold;
	background-color: #cdcdcd;
}

/* Metabolites list and show */
div.metabolite-summary {
  float: left; 
  width: 150px; 
  padding: 1em; 
  background: #CBE3EC;
  border-radius: 10px;
}

img.structure {
  border: 1px solid #CECFDC;
  margin-top: 2em;
}

span.not-available {
  color: silver;
}

img.pathway-thumb {
  margin: 0.4em;
  border: 1px solid silver;
  padding: 4px;
}

table.metabolite-info {
  width: 85%;
  margin-left: 1em;
}

/* Study Analysis */
#export-info {
  padding: 1em;
  border: 3px solid #E0EEE0;
  border-radius: 5px;
  -moz-box-shadow: 3px 3px 10px silver;
  -webkit-box-shadow: 0px 0px 10px silver;
  margin: 0.5em;
}
#export-info img.analysis {
  float: right;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 0;
}
#export-info h2 {
  margin: 0 0 1em 0;
}

#export-info a {
  font-weight: bold;
}

#export-info #run-container {
  margin: 2em auto;
  text-align: center;
  clear: both;
}

#export-info #export-container {
  margin: 1em auto;
  text-align: center;
}

#export-info a#run-analysis {
  background: #E0EEE0;
  padding: 0.3em 3em;
  font-size: larger;
  border-radius: 5px;
  text-align: center;
  margin: auto;
}

.info {
  background: #FFFCCF;
  padding: 0.5em 0.8em;
  border: 1px solid silver;
  border-radius: 5px;
  min-height: 40px;
  font-size: 14px;
  margin: 0.5em 0;
}

img.info-logo {
  float: left;
  margin-right: 1.5em;
}

/* Groupings */
#grouping-links {
  padding: 1em 0;
  border-radius: 5px;
  margin: 1em 0em;
}

#grouping-links a {
  background: #E0EEE0;
  padding: 0.3em 1.3em;
  font-size: larger;
  border-radius: 5px;
  margin-right: 2em;

}