body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }


h1 {
	color: #004D4D;
	font-size: 16px;
	background: #CDC9C9;
	padding: 0.2em;
	border: 1px solid gray;
	margin-bottom: 2em;
}

p {
	margin: 1em;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}


div#doc3 {
	min-width: 1000px;
}

div#flash p.notice, div#flash p.error {
	margin: 0.2em 0em 1em 0em;
	padding: 0.5em;
}

div#flash p.notice {
	background: #A6D785;
	color: green;
}

div#flash p.error {
	background: #CD9B9B;
	color: #8C1717;
}

.fieldWithErrors label {
  padding: 2px 4px;
  background-color: #FF6A6A;
	margin-bottom: 1px;
}

.fieldWithErrors input, .fieldWithErrors select {
	margin-top: 4px;
	background-color: #ffdfdf;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
	padding-left: 0em;
	margin-left: 4em;
  list-style: square;
}

/* Layout CSS */
div#headerbar {
	vertical-align: middle;
	line-height: 40px;
	height: 100px;
	background: #081351 url(../images/header_bg.png) repeat-x 0 100%;
}

/* Layout CSS */
div#headerbar div#headerbar-right {
	margin-top: 1em; 
	float: right; 
	color: silver; 
	font-size: smaller; 
	text-align: right; 
	line-height: 2em;
}

div#headerbar div#headerbar-right div#logged-in {
	font-size: larger; 
	margin-bottom: 1em;
}

div#headerbar div#headerbar-right div#logged-in a {
	color: white;
}

div#headerbar div#headerbar-right div#version {
	font-size: smaller; 
	margin-top: 0.8em;
}

div#menu {
	background: #001a57 url(../images/menu_bg.png) repeat-x 0 100%;
/*	font-weight: bold;*/
	color: #ffffff;
	padding: 0.4em;
	padding-left: 1em;
}

div#menu a {
	text-decoration: none;
	color: #CDCDB4;
	font-size: 14px;
	margin-right: 1.4em;
}

div#menu a:hover {
	color: #ffffff;
	background-color: #001a57;
}

div#main, div#sidebar {
	min-height: 40em;
	padding: 0.5em;		
}

div#main {
	height: 100%;
	margin-left: 0em;
	background: #FAFAFA url(../images/body_bg.gif) repeat-x;
}

div#sidebar {
	overflow: auto;
	white-space: nowrap;
	background: #FCFFF0;
}

div#sidebar h2 {
/*	background: #CDCDC1; */
	border: 1px solid #CDCDC1;
	background: white;
	font-weight: bold;
	margin-bottom: 0.8em; 
	padding: 0.3em;
}

div.subcontainer {
	background: #F0F0F0;
	display: table;
	padding: 1em;
	border: 1px solid #A3A3A3;
}

/* Standard table style */
div#main table {
	text-align: left;
	border-collapse: collapse;
}

div#main th, div#main td {
	padding: 0.2em 0.4em;
	vertical-align: top;
}

div#main td {
	border-bottom: 1px solid silver;
}

div#main th {
	font-weight: bold;
	color: #636363;
	border-bottom: 1px solid #666;
}

div#main tr.even {
	background: #ECF3FE;
}

div#main tr.odd {
	background: white;
}
	
div#main tr:first-child {
	border-bottom: 1px solid #666;
}

div#main h2.sub {
	font-weight: bold;
	padding: 0.3em;
	margin-top: 2em;
	margin-bottom: 1em;
	background: #EEE9E9;
}

