// App-wide colors
$app-black: #353535;
$app-dark-grey: #515151;
$app-grey: #F9F9F9;
$app-green: #12d678;
$app-purple: #DD5DEB;

$app-pink: #FF4390;
$app-light-pink: #FF8EBC;
$app-dark-pink: #B21D5A;
$app-yellow: #FFF05D;
$app-light-yellow: #FFF69E;
$app-blue: #22AFCC;
$app-light-blue: #7ACFE0;
$app-very-light-blue: #BDE7F0;
$app-dark-blue: #269AB2;
