div.error-explanation {
  background: #fbe3e4;
  color: #8a1f11;
  border: 1px solid #fbc2c4;
  box-shadow: 0 0 3px silver;
  padding: 0.3em 0.8em;
  border-radius: 8px;
  margin-top: 1em;

  h2 { font-size: 17px }
  ul { margin: 0.8em; }
}

.citable {
  .citation-text {
    height: 100px;
  }
}

form.standard {
  .form-actions {
    padding-top: .8em;
    margin-bottom: 1em;
    margin-top: .8em;
    border-top: 1px solid white;
    a, input, button {
      @extend .btn;
      @extend .btn-primary;
      margin-right: 0.5em;
    }
  }
  .error-msg {
    font-style: italic;
    margin-bottom: 0;
    margin-top: -10px;
    padding: 0;
    font-size: 85%;
  }
  .datepicker {
    width: 90px;
  }
  .field_with_errors {
    display: inline;
  }
  fieldset {
    @extend .form-group;
    @extend .rounded;
    padding: 1rem;
    background: #E0EBEA;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  legend {
    font-size: 18px;
    background: white;
    display: inline-block;
    border: 1px solid silver;
    padding: 0 0.5em;
    border-radius: 3px;
    max-width: 600px;
    margin-left: .5em;
    line-height: 30px;
    margin-bottom: 10px;
  }
}

.inline-checkbox-group {
  .checkbox {
    display: inline-block;
    input {
      vertical-align: middle;
    }
    label {
      margin-right: 1.5em;
    }
  }
}

.nested-fields {
  .form-control {
    @extend .form-control-sm;
  }
  &.inline {
    @extend .form-inline;
    background: white;
    border-radius: 2px;
    position:relative;
    padding: 2px 3px;
    margin-top: 1px;
    label {
      margin-left: 1.5em;
      margin-right: 0.5em;
    }
    .btn-rmv, .notice-rmv {
      top: 14%; // Bleh...
      position: absolute;
      right: 5px;
      vertical-align: middle;
    }
    &:hover {
      background: $app-light-yellow;
    }
  }
  &.panelled {
    @extend .card;
    // @extend .panel-default;
    .btn-rmv {
      float: right;
    }
  }
}
.btn-add {
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-secondary;
  margin-top: 1em;
}
.btn-rmv {
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-secondary;
  color: #9D1309;
}
.btn-new {
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-primary;
  margin-top: 1em;
  margin-left: 2em;
  float: right;
}
