@mixin bootstrap-btn($background) {
  @if lightness($background) >= lightness(#ccc) { //#ddd is btn
    @include button-variant(#333, $background, darken($background, 5%));
  }
  @else {
    @include button-variant(#fff, $background, darken($background, 5%));
  }
}

// This is ripped from bootstrap so we can use btn as a mixin to avoid
// @extends which causes rendering speed issues.
@mixin btn() {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);
  @include user-select(none);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    pointer-events: none; // Future-proof disabling of clicks
    @include opacity(.65);
    @include box-shadow(none);
  }
}

@mixin btn-default() {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}
@mixin btn-primary() {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
// Success appears as green
@mixin btn-success() {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
// Info appears as blue-green
@mixin btn-info() {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
// Warning appears as orange
@mixin btn-warning() {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
// Danger and error appear as red
@mixin btn-danger() {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}

@mixin btn-lg() {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);
}
@mixin btn-sm() {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}
@mixin btn-xs() {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}

// Base class
@mixin well() {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: $well-bg;
  border: 1px solid $well-border;
  border-radius: $border-radius-base;
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
}

// Sizes
@mixin well-lg() {
  padding: 24px;
  border-radius: $border-radius-large;
}
@mixin well-sm() {
  padding: 9px;
  border-radius: $border-radius-small;
}

// Alerts
@mixin alert() {
  padding: $alert-padding;
  margin-bottom: $line-height-computed;
  border: 1px solid transparent;
  border-radius: $alert-border-radius;

  // Headings for larger alerts
  h4 {
    margin-top: 0;
    // Specified for the h4 to prevent conflicts of changing $headings-color
    color: inherit;
  }

  // Provide class for links that match alerts
  .alert-link {
    font-weight: $alert-link-font-weight;
  }

  // Improve alignment and spacing of inner content
  > p,
  > ul {
    margin-bottom: 0;
  }

  > p + p {
    margin-top: 5px;
  }
}

// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

@mixin alert-dismissible() {
  padding-right: ($alert-padding + 20);

  // Adjust close link position
  .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

@mixin alert-success() {
  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}

@mixin alert-info() {
  @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
}

@mixin alert-warning() {
  @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
}

@mixin alert-danger() {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}
