/* Standard table style */
table.list {
	text-align: left;
	border-collapse: collapse;
	font-size: 14px;
	width: 100%;
  th, td {
  	padding: 0.2em 0.4em;
  	vertical-align: top;
  }
  td {
    border-bottom: 1px solid silver;
  }
  th {
    font-weight: bold;
    color: #636363;
    border-bottom: 1px solid #666;
  }
  tr.even {
    background: #ECF3FE;
  }
  tr.odd {
    background: white;
  }
  tr.header {
    background: white !important;
  }
  tr:hover {
    background: #FFFCCF
  }
  tr:first-child {
    border-bottom: 1px solid #666;
  }
  h2.sub {
    font-weight: bold;
    padding: 0.3em;
    margin-top: 2em;
    margin-bottom: 1em;
    background: #EEE9E9;
  }
  tr.table-search {
    background: #F7F7F7;
    vertical-align: middle;
    th {
      vertical-align: middle;
    }
  }
}

