<h1>Editing medication</h1>

<% labelled_tabular_form_for([@animal, @medication]) do |form| %>
  <%= render :partial => form %>
  <p>
    <%= form.submit "Update" %>
  </p>
<% end %>

<%= show_link animal_medication_path(@animal, @medication) %>