<h1>Editing medication</h1>

<%= labelled_tabular_form_for([@test_subject, @medication]) do |form| %>
  <%= render :partial => 'form', :locals => { :form => form } %>
  <p>
    <%= form.submit "Update" %>
  </p>
<% end %>

<%= show_link test_subject_medication_path(@test_subject, @medication) %>