<h1>New medication</h1>

<%= labelled_tabular_form_for([@test_subject, @medication]) do |form| %>
  <%= render :partial => 'form', :locals => { :form => form } %>
  <p>
    <%= form.submit "Create" %>
  </p>
<% end %>