<p>
  <b>Size:</b>
  <%=h number_to_human_size(@data_file.size) %>
</p>

<p>
  <b>Content type:</b>
  <%=h @data_file.content_type %>
</p>

<p>
  <b>File:</b>
  <%= link_to h(@data_file.filename), @data_file.public_filename %>
</p>

<p>
  <b>Description:</b>
  <%=h @data_file.description %>
</p>