<%= render_form_errors(@ingredient) %>
<%= knoxy_form_for(@ingredient) do |f| %>
  <fieldset>
    <%= f.text_field :name, :required => true %>
  </fieldset>

  <div class="field-no-label actions">
    <%= f.submit %>
  </div>
<% end -%>
