<div class="fields box batchsample">

  <strong>Sample <%= f.object.barcode %></strong>

  <br /><br />

  <div class="field">
    <%= f.label :corrected_by_id, 'Corrected By' %>
    <%= f.select :corrected_by_id, User.all.collect {|u| [ "#{u.name}", u.id ] }, { }, { :include_blank => true } %>
  </div>

  <fieldset>
    <legend>Corrections</legend>
    pH Corrections here.
  </fieldset>

</div>
