<h1>Editing Animal Evaluation</h1>

<% labelled_tabular_form_for([@animal, @animal_evaluation]) do |form| %>
  <%= render :partial => form %>

  <p>
    <%= form.submit "Update" %>
  </p>
<% end %>

<%= show_link animal_animal_evaluation_path(@animal, @animal_evaluation) %>