<h1>Showing Analysis For Study "<%=h @study.name %>"</h1>

<div id="analysis">
  <%= image_tag(@pca_image, :height => 500) %>
</div>

<div id="analysis">
  <%= image_tag(@corr_image, :height => 500) %>
</div>