<h1>New Study</h1>

<%= knoxy_form_for @study, :as => :study, :url => { :action => "create" } do |form| %>
  <%= render :partial => 'form', :locals => { :f => form } %>

  <div class="field-no-label actions">
    <%= form.submit %>
  </div>
<% end %>