<h1>Editing Lab Test</h1>

<% labelled_tabular_form_for([@patient, @lab_test]) do |form| %>

  <%= render :partial => form %>

  <%= form.error_messages %>

  <p>
    <%= form.submit "Update" %>
  </p>
<% end %>

<%= show_link patient_lab_test_path(@patient, @lab_test) %>