<h1>Add Lab Test</h1>

<% labelled_tabular_form_for([@test_subject, @lab_test]) do |form| %>

  <%= render :partial => form %>

  <%= form.error_messages %>

  <p>
    <%= form.submit "Create" %>
  </p>
<% end %>
