<h1>New lab_test</h1>

<% form_for([@patient, @lab_test]) do |f| %>

  <%= render :partial => 'lab_test', :locals => {:f => f} %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', patient_lab_tests_path %>

