<h1>Editing Patient <%= @patient %></h1>

<% labelled_tabular_form_for(@patient) do |form| %>
<%= render :partial => form %>

<p>
	<%= form.submit "Update" %>
</p>
<% end %>

<%= show_link @patient %>