<% if s.species.blank? %>
	<li>Species</li>
<% end %>
<% if s.matrix.blank? %>
	<li>Biofluids</li>
<% end %>
<% if s.group_id.blank? %>
	<li>Group #</li>
<% end %>
<% if s.sample_volume.blank? %>
	<li>Sample Volume</li>
<% end %>
<% if s.volume_units.blank? %>
	<li>Units</li>
<% end %>