<% if s.species.blank? %>
	<li>Species</li>
<% end %>
<% if s.cell_line.blank? %>
	<li>Cell Line Code</li>
<% end %>
<% if s.group_id.blank? %>
	<li>Group #</li>
<% end %>
<% if s.viable_cells.blank? %>
	<li>Viable Cells</li>
<% end %>