<td><% if s.module_1 %> x <% end %></td>
<td><% if s.module_2 %> x <% end %></td>
<td><% if s.module_3 %> x <% end %></td>
<td><% if s.module_4 %> x <% end %></td>
<td><% if s.module_5 %> x <% end %></td>
<td><% if s.module_6 %> x <% end %></td>
<td><% if s.module_7 %> x <% end %></td>
<td><% if s.module_8 %> x <% end %></td>
<td><% if s.module_9 %> x <% end %></td>
<td><% if s.module_10 %> x <% end %></td>
<td><% if s.module_11 %> x <% end %></td>
<td><% if s.module_12 %> x <% end %></td>

