<% if s.species.blank? %>
	<li>Species</li>
<% end %>
<% if s.matrix.blank? %>
	<li>Tissue</li>
<% end %>
<% if s.group_id.blank? %>
	<li>Group #</li>
<% end %>
<% if s.tissue_weight.blank? %>
	<li>Tissue Weight</li>
<% end %>
<% if s.weight_units.blank? %>
	<li>Units</li>
<% end %>