li.nav-item = link_to 'About', about_path, class: 'nav-link'
li.nav-item = link_to 'Contact', contact_path, class: 'nav-link'
li.nav-item = link_to 'Client Login', new_client_session_path, class: 'nav-link'
li.nav-item = link_to 'LIMS Login', new_user_session_path, class: 'nav-link'
