.ui-menu-item { text-align: left; }

.add-workflow-patient {
  min-width: 1100px;

  div#patient-more-toggle {
    width: 1000px;
    text-align: center;
    margin: auto;
    a, a:hover {
      background: #E0EEE0;
      padding: 0.3em 1.3em;
      font-size: larger;
      border-radius: 5px;
    }
  }

  .field-no-label {
    text-align: center;
    margin-bottom: 2em;
  }
}

#workflow-patient-autocomplete-code {
  width: 200px;
}

#sample-added-show {
  padding: 1em;
  border-radius: 5px;
}