<h1>Welcome to the Einstein Metabolomics Core</h1>
<div id="downloads">
	<h2>Downloads</h2>
	<ul>
		<li><%= link_to 'Blank Sample Manifest', download_blank_manifest_clients_sample_manifest_path(:sample_manifest) %></li>
		<li><%= link_to 'Sample Preparation Guideline', download_guideline_clients_sample_manifest_path(:sample_manifest) %></li>
	</ul>
</div>
<p>
  Welcome back! From here you can track your submitted samples and browse the modules supported by our core. 
</p>

<h1>Test Modules</h1>
<%= render :partial => '/clients/sample_manifests/tests' %>