<% content_for :javascript do %>
  <%= javascript_include_tag 'sample_manifest' %>
<% end %>

<h1>Welcome to the Einstein Metabolomics Core</h1>

<p>
  Welcome back! From here you can track your submitted samples and browse the modules supported by our core. 
</p>

<h1>Test Modules</h1>
<%= render :partial => '/clients/sample_manifests/tests' %>