<h1>Editing protocol</h1>

<%= labelled_tabular_form_for(@protocol, :html => { :multipart => true }) do |form| %>
  <%= render :partial => form %>
  
  <p><%= form.submit "Update" %></p>
<% end %>

<%= show_link @protocol %>
