<h1>Editing Patient Evaluation</h1>

<% labelled_tabular_form_for([@patient, @patient_evaluation]) do |form| %>
  <%= render :partial => form %>

  <p>
    <%= form.submit "Update" %>
  </p>
<% end %>

<%= show_link patient_patient_evaluation_path(@patient, @patient_evaluation) %>