<h1>New Patient Evaluation</h1>

<% form_for([@patient, @patient_evaluation]) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'patient_evaluation', :locals => {:f => f} %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', patient_patient_evaluations_path(@patient) %>
