<div class="nested-field" style="display: <%= f.object.send('_destroy') ? 'none' : 'block' %>">
  <%= remove_child_link "remove", f %>
  <%= f.input :ingredient_id, collection: Ingredient.all, include_blank: true %>
  <%= f.input :amount, label: "Amount (%)" %>
</div>
