<tr>
	<td><%= grouping_assignment.assignable %></td>
	<td><%= link_to "Remove", grouping_grouping_assignment_path(grouping_assignment.grouping, grouping_assignment), :remote => true, :method => :delete, :confirm => 'Are you sure?' %></td>
</tr>
