<% if @successful %>
  $("#assignable-associations").html("<%= escape_javascript(render :partial => 'grouping_assignment', :collection => @grouping.grouping_assignments) %>");
  $("#flash").html("<p class=\"notice\">Removed <%= humanized_type(@grouping.assignable_type).downcase %> from group successfully</p>")
<% else %>
  $("#flash").html("<p class=\"error\">Error removing <%= humanized_type(@grouping.assignable_type).downcase %> from group</p>")
<% end -%>
