<div id="navbar" class="yui3-menu yui3-menu-horizontal yui3-menubuttonnav">
  <div class="yui3-menu-content">
    <ul class="first-of-type">
      <li class="yui3-menuitem">
        <%= link_to 'Home', client_root_path, :class => 'yui3-menuitem-content' %>
      </li>
      <li class="yui3-menuitem">
        <%= link_to "Submit New Sample", new_clients_sample_manifest_path, :class => 'yui3-menuitem-content' %>
      </li>
      <li class="yui3-menuitem">
        <%= link_to "My Manifests", clients_sample_manifests_path, :class => 'yui3-menuitem-content' %>
      </li>
      <li class="yui3-menuitem">
        <%= link_to "Order Tracking", clients_samples_path, :class => 'yui3-menuitem-content' %>
      </li>
    </ul> 
  </div>
</div>