<%= link_to 'Cohorts', patient_cohort_assignments_path(patient) %>
(<%= link_to 'Add', new_patient_cohort_assignment_path(patient), :class => 'create' %>)
<ul>
	<% @patient.cohort_assignments.each do |cohort_assignment| -%>
	<li class="cohort"><%= link_to cohort_assignment.cohort.name, cohort_path(cohort_assignment.cohort) %></li>
	<% end -%>
</ul>
