<%= link_to 'Experiments', sample_experiments_path(sample) %>
(<%= link_to 'Add', new_sample_experiment_path(sample), :class => 'create' %>)
<ul>
	<li></li>
	<% sample.experiments.each do |experiment| -%>
	<li class="report">
		<%= link_to experiment.name, sample_experiment_path(experiment.sample, experiment) %>
		<ul>
			<li class="report"><%= render :partial => '/layouts/data_files', :locals => { :experiment => experiment } %></li>
		</ul>
	</li>
	<% end -%>
</ul>
