<%= link_to 'Experiments', sample_experiments_path(sample) %>
<ul>
	<li><%= link_to 'Perform new experiment', new_sample_experiment_path(sample), :class => 'create' %></li>
	<% sample.experiments.each do |experiment| -%>
	<li class="report">
		<%= link_to experiment.name, sample_experiment_path(experiment.sample, experiment) %>
		<ul>
			<li class="report"><%= render :partial => '/layouts/data_files', :locals => { :experiment => experiment } %></li>
		</ul>
	</li>
	<% end -%>
</ul>
