<div id="navbar" class="yui3-menu yui3-menu-horizontal yui3-menubuttonnav">
  <div class="yui3-menu-content">
    <ul class="first-of-type">
      <li class="yui3-menuitem">
        <%= link_to 'Home', root_path, :class => 'yui3-menuitem-content' %>
      </li>
      <li class="yui3-menuitem">
        <%= link_to 'Services', services_path, :class => 'yui3-menuitem-content' %>
      </li>
      <li class="yui3-menuitem">
        <%= link_to "About Us", about_path, :class => 'yui3-menuitem-content' %>
      </li>
      <li class="yui3-menuitem">
        <%= link_to "Contact Us", contact_path, :class => 'yui3-menuitem-content' %>
      </li>
    </ul> 
  </div>
</div>