<%= form_for([:clients, @sample_manifest]) do |f| %>
	<div id="sample-manifest-form">
		<p>Upload: <%= f.file_field :file %></p>
	</div>
	<%= f.submit "Save Sample Manifest", :class => :button %>
<% end %>

<div id="jstemplates">
  <%= yield :jstemplates %>
</div>