<div id="module_3_dialog">
	<div id="module_3" class="tab">
		<ul>
			<li><a href="#module_2_compounds">Metabolites</a></li>
			<li><a href="#module_2_reference">Reference Values</a></li>
		</ul>
		<div id="module_3_compounds">
			<h2>Metabolite Information</h2>
	<table class="list"style="width:1000px;">
		<tr>
		<td>Aspartate</td>
		<td>Alanine</td>
		<td>Aminobutyric Acid</td>
		<td>Glutamate</td>
		</tr>
		<tr>
		<td>Glutamine</td>
		<td>Arginine</td>
		<td>Cysteine</td>
		<td>Glycine</td>
		</tr>
		<tr>
		<td>Histidine</td>
		<td>Isoleucine</td>
		<td>Leucine<br>(leucine and isoleucine<br>cannot be distinguished by LC/MS)</td>
		<td>Tyrosine</td>
		</tr>
		<tr>
		<td>Lysine</td>
		<td>Phenylalanine</td>
		<td>phenyllactic acid</td>
		<td>Proline</td>
		</tr>
		<tr>
		<td>Methionine</td>
		<td>Serine</td>
		<td>Threonine</td>
		<td>Tryptophan</td>
		</tr>
		<tr>
		<td>Valine</td>
		<td>Taurine</td>
		<td>Hypotaurine</td>
		<td>Asparagine</td>
		</tr>
		<tr>
		<td>Sarcosine</td>
		<td>Urea</td>
		<td>Creatinine</td>
		<td>5-Aminolevulinate</td>
		</tr>
		<tr>
		<td>dimethylglycine</td>
		<td>Homocysteine</td>
		<td>betaine</td>
		<td>Citrulline</td>
		</tr>
		<tr>
		<td>Ornithine</td>
		<td>4-methyl-2-oxo valerate</td>
		<td>2-Oxoadipic acid</td>
		<td>2-ketobutyrate</td>
		</tr>
		<tr>
		<td>3-hydroxybutyrate</td>
		</tr>
	</table>
		</div>
		<div id="module_3_reference">
			<h2>Metabolite Reference Values</h2>
			<table class="list"style="width:1000px;">
				
			</table>
		</div>
	</div>
</div>
