<h1>Available Tests</h1>
<table>
	<tr><td><button id="module_1" style="width:600px;text-align:left">Module 1 - Biocrates p180 kit</button></td></tr>
	<tr><td><button id="module_2" style="width:600px;text-align:left">Module 2 - Glycolysis, Krebs (TCA) Cycle and Bioenergetics - LC/MS</button></td></tr>
	<tr><td><button id="module_3" style="width:600px;text-align:left">Module 3 - Amino Acids, Urea cycle and Metabolites - LC/MS</button></td></tr>
	<tr><td><button id="module_4" style="width:600px;text-align:left">Module 4 - Acyl Carnitines - LC/MS</button></td></tr>
	<tr><td><button id="module_5" style="width:600px;text-align:left">Module 5 - Glycolysis, Krebs and the Pentose Cycle - GC/MS</button></td></tr>
	<tr><td><button id="gc_fap" style="width:600px;text-align:left">GC-FAP - GC-FID Fatty acid profiling </button></td></tr>
	<tr><td><button id="ss_1" style="width:600px;text-align:left">SS 1 - Lipogenesis by Deuterated H<sub>2</sub>O</button></td></tr>
	<tr><td><button id="ss_2" style="width:600px;text-align:left">SS 2 - Stable Isotope intraperitoneal glucose tolerance test</button></td></tr>
</table>

<div id="module_1_dialog">
	<div id="module_1_compounds">
	<ul>
			<li><a href="#acylcarnitines">Acylcarnitines</a></li>
			<li><a href="#amino_acids">Amino Acids and Biogenic Amines</a></li>
			<li><a href="#hexoses">Hexoses</a></li>
			<li><a href="#sphingolipids">Sphingolipids</a></li>
			<li><a href="#glycerophospholipids">Glycerophospholipids</a></li>
	</ul>
		<div id="acylcarnitines">
		<h2>Acylcarnitines</h2>
		<button class="link_to" data-url="http://pathman.smpdb.ca/pathways/SMP00465/pathway">Carnitine Synthesis</button>
		<button class="link_to" data-url="http://pathman.smpdb.ca/pathways/SMP00030/pathway">Oxidation of Branched Chain Fatty Acids</button>
		<button class="link_to" data-url="http://pathman.smpdb.ca/pathways/SMP00051/pathway">Fatty acid Metabolism</button>
		<button class="link_to" data-url="http://pathman.smpdb.ca/pathways/SMP00482/pathway">Mitochondrial Beta-Oxidation of Long Chain Saturated Fatty Acids</button>
		<table class="list" style="width:900px;">
			<tr>
				<td>Carnitine</td>
				<td>Acetylcarnitine</td>
				<td>Propionylcarnitine</td>
				<td>Propenoylcarnitine</td>
			</tr>
			<tr>
				<td>Hydroxypropionylcarnitine</td>
				<td>Butyrylcarnitine</td>
				<td>Butenylcarnitine</td>
				<td>Hydroxybutyrylcarnitine</td>
			</tr>
			<tr>
				<td>Valerylcarnitine</td>
				<td>Tiglylcarnitine</td>
				<td>Glutaconylcarnitine</td>
				<td>Glutarylcarnitine<br>(Hydroxyhexanoylcarnitine)</td>
			</tr>
			<tr>
				<td>Methylglutarylcarnitine</td>
				<td>Hydroxyvalerylcarnitine<br>(Methylmalonylcarnitine)</td>
				<td>Hexanoylcarnitine<br>(Fumarylcarnitine)</td>
				<td>Decenoylcarnitine</td>
			</tr>
			<tr>
				<td>Decadienylcarnitine</td>
				<td>Dodecanoylcarnitine</td>
				<td>Dodecenoylcarnitine</td>
				<td>Dodecanedioylcarnitine</td>
			</tr>
			<tr>			
				<td>Tetradecanoylcarnitine</td>
				<td>Tetradecenoylcarnitine</td>
				<td>Hydroxytetradecenoylcarnitine</td>
				<td>Tetradecadienylcarnitine</td>
			</tr>
			<tr>
				<td>Hydroxytetradecadienylcarnitine</td>
				<td>Hexadecanoylcarnitine</td>
				<td>Hexadecenoylcarnitine</td>
				<td>Hydroxyhexadecenoylcarnitine</td>
			</tr>
			<tr>
				<td>Hexadecadienylcarnitine</td>
				<td>Hydroxyhexadecadienylcarnitine</td>
				<td>Hexenoylcarnitine</td>
				<td>Pimelylcarnitine</td>
			</tr>
			<tr>
				<td>Octanoylcarnitine</td>
				<td>Nonaylcarnitine</td>
				<td>Decanoylcarnitine</td>
				<td>Hydroxyhexadecanoylcarnitine</td>
			</tr>
			<tr>	
				<td>Octadecanoylcarnitine</td>
				<td>Octadecenoylcarnitine</td>
				<td>Hydroxyoctadecenoylcarnitine</td>
				<td>Octadecadienylcarnitine</td>
			</tr>
		</table>
	
		</div>
		<div id="amino_acids">
		<h2>Amino Acids and Biogenic Amines</h2>
		<table class="list" style="width:900px;">
			<tr>
				<td><button class="link_to" data-url="http://pathman.smpdb.ca/pathways/SMP00055/pathway">Alanine</button></td>
				<td><button class="link_to" data-url="http://pathman.smpdb.ca/pathways/SMP00020/pathway">Arginine</button></td>
				<td><button class="link_to" data-url="">Asparagine</button></td>
				<td><button class="link_to" data-url="">Aspartate</button></td>
			</tr>
			<tr>
				<td><button class="link_to" data-url="">Citrulline</button></td>
				<td><button class="link_to" data-url="">Glutamine</button></td>
				<td><button class="link_to" data-url="">Glutamate</button></td>
				<td><button class="link_to" data-url="">Glycine</button></td>
			</tr>
			<tr>

				<td><button class="link_to" data-url="">Histidine</button></td>
				<td><button class="link_to" data-url="">Isoleucine</button></td>
				<td><button class="link_to" data-url="">Leucine</button></td>
				<td><button class="link_to" data-url="">Lysine</button></td>
			</tr>
			<tr>

				<td><button class="link_to" data-url="">Methionine</button></td>
				<td><button class="link_to" data-url="">Ornithine</button></td>
				<td><button class="link_to" data-url="">Phenylalanine</button></td>
				<td><button class="link_to" data-url="">Proline</button></td>
			</tr>
			<tr>

				<td><button class="link_to" data-url="">Serine</button></td>
				<td><button class="link_to" data-url="">Threonine</button></td>
				<td><button class="link_to" data-url="">Tryptophan</button></td>
				<td><button class="link_to" data-url="">Tyrosine</button></td>
			</tr>
			<tr>

				<td><button class="link_to" data-url="">Valine</button></td>
				<td><button class="link_to" data-url="">Acetylornithine</button></td>
				<td>Asymmetric dimethylarginine</td>
				<td>Symmetric dimethylarginine</td>
			</tr>
			<tr>

				<td>Total dimethylarginine</td>
				<td><button class="link_to" data-url="">alpha-Aminoadipic acid</button></td>
				<td><button class="link_to" data-url="">Carnosine</button></td>
				<td><button class="link_to" data-url="">Creatinine</button></td>
			</tr>
			<tr>

				<td><button class="link_to" data-url="">Histamine</button></td>
				<td><button class="link_to" data-url="">Kynurenine</button></td>
				<td><button class="link_to" data-url="">Methioninesulfoxide</button></td>
				<td><button class="link_to" data-url="">Nitrotyrosine</button></td>
			</tr>
			<tr>

				<td><button class="link_to" data-url="">Hydroxyproline</button></td>
				<td><button class="link_to" data-url="">Phenylethylamine</button></td>
				<td><button class="link_to" data-url="">Putrescine</button></td>
				<td><button class="link_to" data-url="">Sarcosine</button></td>
			</tr>
			<tr>

				<td><button class="link_to" data-url="">Serotonin</button></td>
				<td><button class="link_to" data-url="">Spermidine</button></td>
				<td><button class="link_to" data-url="">Spermine</button></td>
				<td><button class="link_to" data-url="">Taurine</button></td>
		</table>
	
		</div>
		<div id="hexoses">
		<h2>Hexoses</h2>
		<table class="list"style="width:900px;">
			<tr>
				<td>Hexose</td>
				<td></td>
				<td></td>
			</tr>
		</table>
		
		</div>
		<div id="sphingolipids">
		<h2>Sphingolipids</h2>
		<table class="list"style="width:900px;">
			<tr>
				<td>SM (OH) C14:1</td>
				<td>SM C16:0</td>
				<td>SM C16:1</td>
				<td>SM (OH) C16:1</td>
			</tr>
			<tr>
				<td>SM C18:0</td>
				<td>SM C18:1</td>
				<td>SM C20:2</td>
				<td>SM (OH) C22:1</td>
			</tr>
			<tr>

				<td>SM (OH) C22:2</td>
				<td>SM C24:0</td>
				<td>SM C24:1</td>
				<td>SM (OH) C24:1</td>
			</tr>
			<tr>

				<td>SM C26:0</td>
				<td>SM C26:1</td>			
			</tr>
		</table>
		
		</div>
		<div id="glycerophospholipids">
		<h2>Glycerophospholipids</h2>
		<table class="list"style="width:900px;">
			<tr>
				<td>lysoPC a C14:0</td>
				<td>lysoPC a C16:0</td>
				<td>lysoPC a C16:1</td>
				<td>lysoPC a C17:0</td>
			</tr>
			<tr>
				<td>lysoPC a C18:0</td>
				<td>lysoPC a C18:1</td>
				<td>lysoPC a C18:2</td>
				<td>lysoPC a C20:3</td>
			</tr>
			<tr>
				<td>lysoPC a C20:4</td>
				<td>lysoPC a C24:0</td>
				<td>lysoPC a C26:0</td>
				<td>lysoPC a C26:1</td>
			</tr>
			<tr>
				<td>lysoPC a C28:0</td>
				<td>lysoPC a C28:1</td>
				<td>PC aa C24:0</td>
				<td>PC aa C26:0</td>
			</tr>
			<tr>
				<td>PC aa C28:1</td>

				<td>PC aa C30:0</td>
				<td>PC aa C32:0</td>
				<td>PC aa C32:1</td>
			</tr>
			<tr>
				<td>PC aa C32:2</td>

				<td>PC aa C32:3</td>
				<td>PC aa C34:1</td>
				<td>PC aa C34:2</td>
			</tr>
			<tr>
				<td>PC aa C34:3</td>


				<td>PC aa C34:4</td>
				<td>PC aa C36:0</td>
				<td>PC aa C36:1</td>
			</tr>
			<tr>
				<td>PC aa C36:2</td>


				<td>PC aa C36:3</td>
				<td>PC aa C36:4</td>
				<td>PC aa C36:5</td>
			</tr>
			<tr>
				<td>PC aa C36:6</td>
				<td>PC aa C38:0</td>

				<td>PC aa C38:3</td>
				<td>PC aa C38:4</td>
			</tr>
			<tr>
				<td>PC aa C38:5</td>
				<td>PC aa C38:6</td>
				<td>PC aa C40:1</td>

				<td>PC aa C40:2</td>
			</tr>
			<tr>
				<td>PC aa C40:3</td>
				<td>PC aa C40:4</td>
				<td>PC aa C40:5</td>

				<td>PC aa C40:6</td>
			</tr>
			<tr>
				<td>PC aa C42:0</td>
				<td>PC aa C42:1</td>
				<td>PC aa C42:2</td>

				<td>PC aa C42:4</td>
			</tr>
			<tr>
				<td>PC aa C42:5</td>
				<td>PC aa C42:6</td>
				<td>PC ae C30:0</td>

				<td>PC ae C30:1</td>
			</tr>
			<tr>
				<td>PC ae C30:2</td>
				<td>PC ae C32:1</td>
				<td>PC ae C32:2</td>

				<td>PC ae C34:0</td>
			</tr>
			<tr>
				<td>PC ae C34:1</td>
				<td>PC ae C34:2</td>
				<td>PC ae C34:3</td>

				<td>PC ae C36:0</td>
			</tr>
			<tr>			
				<td>PC ae C36:1</td>
				<td>PC ae C36:2</td>
				<td>PC ae C36:3</td>

				<td>PC ae C36:4</td>
			</tr>
			<tr>
				<td>PC ae C36:5</td>
				<td>PC ae C38:0</td>
				<td>PC ae C38:1</td>

				<td>PC ae C38:2</td>
			</tr>
			<tr>
				<td>PC ae C38:3</td>
				<td>PC ae C38:4</td>
				<td>PC ae C38:5</td>
				<td>PC ae C38:6</td>
			</tr>
			<tr>
				<td>PC ae C40:1</td>
				<td>PC ae C40:2</td>
				<td>PC ae C40:3</td>
				<td>PC aa C40:4</td>
			</tr>
			<tr>
				<td>PC ae C40:5</td>
				<td>PC ae C40:6</td>
				<td>PC ae C42:0</td>
				<td>PC ae C42:1</td>
			</tr>
			<tr>
				<td>PC ae C42:2</td>
				<td>PC ae C42:3</td>
				<td>PC ae C42:4</td>
				<td>PC ae C42:5</td>
			</tr>
			<tr>
				<td>PC ae C44:3</td>
				<td>PC ae C44:4</td>
				<td>PC ae C44:5</td>
				<td>PC ae C44:6</td>
			</tr>
		</table>
		</div>
	</div>
</div>

<div id="module_2_dialog">
	<table class="list"style="width:1000px;">
		<tr>
		<td>Hexose-6-Phosphate</td>
		<td>Fructose-1,6-diphosphate</td>
		<td>alpha Glycerol-3-phosphate</td>
		<td>3-phosphoglycerate</td>
		</tr>
		<tr>
		<td>Phosphoenol pyruvate</td>
		<td>Pyruvate</td>
		<td>Lactate</td>
		<td>6-phospho-D-gluconate</td>
		</tr>
		<tr>
		<td>Pentose-5-phosphate</td>
		<td>glucosamine-6-P</td>
		<td>N-acetyl-glucosamine-P<br>note: sum of N-acetyl glucoasmine-1-P and -6-P</td>
		<td>Uridine-diphosphate-glucose (UDPG)</td>
		</tr>
		<tr>
		<td>glutathione (ox)</td>
		<td>glutathione (red)</td>
		<td>AMP</td>
		<td>ADP</td>
		</tr>
		<tr>
		<td>ATP</td>
		<td>Nicotinamide</td>
		<td>NAD</td>
		<td>NADH</td>
		</tr>
		<tr>
		<td>NADP</td>
		<td>NADPH</td>
		</tr>
	</table>

</div>
<div id="module_3_dialog">
	<table class="list"style="width:1000px;">
		<tr>
		<td>Aspartate</td>
		<td>Alanine</td>
		<td>Aminobutyric Acid</td>
		<td>Glutamate</td>
		</tr>
		<tr>
		<td>Glutamine</td>
		<td>Arginine</td>
		<td>Cysteine</td>
		<td>Glycine</td>
		</tr>
		<tr>
		<td>Histidine</td>
		<td>Isoleucine</td>
		<td>Leucine<br>(leucine and isoleucine<br>cannot be distinguished by LC/MS)</td>
		<td>Tyrosine</td>
		</tr>
		<tr>
		<td>Lysine</td>
		<td>Phenylalanine</td>
		<td>phenyllactic acid</td>
		<td>Proline</td>
		</tr>
		<tr>
		<td>Methionine</td>
		<td>Serine</td>
		<td>Threonine</td>
		<td>Tryptophan</td>
		</tr>
		<tr>
		<td>Valine</td>
		<td>Taurine</td>
		<td>Hypotaurine</td>
		<td>Asparagine</td>
		</tr>
		<tr>
		<td>Sarcosine</td>
		<td>Urea</td>
		<td>Creatinine</td>
		<td>5-Aminolevulinate</td>
		</tr>
		<tr>
		<td>dimethylglycine</td>
		<td>Homocysteine</td>
		<td>betaine</td>
		<td>Citrulline</td>
		</tr>
		<tr>
		<td>Ornithine</td>
		<td>4-methyl-2-oxo valerate</td>
		<td>2-Oxoadipic acid</td>
		<td>2-ketobutyrate</td>
		</tr>
		<tr>
		<td>3-hydroxybutyrate</td>
		</tr>
	</table>

</div>
<div id="module_4_dialog">
	<table class="list"style="width:1000px;">
		<tr>
		<td>Acetylcarnitine</td>
		<td>Propionylcarnitine</td>
		<td>Buyrylcarnitine</td>
		<td>Isovalerylcarnitine</td>
		</tr>
		<tr>
		<td>Hexanoylcarnitine</td>
		<td>Octanoylcarnitine</td>
		<td>Decanoylcarnitine</td>
		<td>Lauroylcarnitine</td>
		</tr>
		<tr>
		<td>Myristoylcarnitine</td>
		<td>Palmitoylcarnitine</td>
		</tr>
	</table>

</div>
<div id="module_5_dialog">
	<table class="list"style="width:1000px;">
		<tr>
		<td>Glucose</td>
		<td>Glucose-6-phosphate</td>
		<td>Fructose-6-phosphate</td>
		<td>Xylulose-5-phosphate</td>
		</tr>
		<tr>
		<td>Ribulose-5-Phosphate</td>
		<td>Ribose-5-Phosphate</td>
		<td>Citrate</td>
		<td>Isocitrate</td>
		</tr>
		<tr>
		<td>malate</td>
		<td>succinate</td>
		<td>fumarate</td>
		<td>pyruvate</td>
		</tr>
		<tr>
		<td>lactate</td>
		<td>Dihyrdroxyacetonephosphate</td>
		<td>Glyceraldehyde-3-phosphate</td>
		<td>Erythrose-4-Phosphate</td>
		</tr>
		<tr>
		<td>alpha-ketoglutaric acid</td>
		<td>Oxaloacetic acid</td>
		</tr>
	</table>

</div>
<div id="gc_fap_dialog">

</div>
<div id="ss_1_dialog">
	
</div>
<div id="ss_2_dialog">
	
</div>