<h1>Sample Manifest</h1>
<%= link_to 'Download', download_uploaded_manifest_clients_sample_manifest_path(@sample_manifest) %>
<%= render :partial => 'form'%>
<%= render :partial => 'clients/sample_manifests/manifests/manifest_workbook'%>											